<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'entrée sur les restaurants du propriétaire le propriétaire
        peut ajouiter des restaurant et donné des droits spcifique aux employées</title>
    <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/solid.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/regular.css">
</head>

<body>
    <header>
        <div id="navigationx">
            <img src="/assets/images/SoftEat_Quadrichromie.png" alt="">
            <div>
                <ul>
                    <li>
                        <button class="btn" id="acceuil" (click)="clicAcceuil()" type="submit">Acceuil</button>
                    </li>
                    <li>
                        <button class="btn" (click)="clicdeConnexion()" id="deco" type="submit">Déconnexion</button>
                    </li>
                </ul>
            </div>
        </div>
        <ul id="configuration">
            <li>
                <button class="btn btn-outline-success" (click)="redirectConfigue()" id="configurer" *ngIf="is_confique">
                    Configuration des restaurants
                </button>
            </li>
            <li>
                <button class="btn btn-outline-success" id="analyse"> Analyse des restaurants</button>
            </li>
        </ul>
    </header>
    <main>
        <div class="container-fluid" id="card_number">
            <div #widgetsContent class="row card-deck-scrollable flex-nowrap scroll-right">
                <div class="tourcard" *ngFor="let restaurant of restaurants_only">
                    <figure>
                        <div class="tourpic">
                            <img width="300" height="200" src='/assets/images/autho.jpg'>
                            <span class="tourday hot">rejoindre se restaurant</span>
                        </div>
                        <figcaption>
                            <h3 class="entry-title">
                                <a>{{restaurant.id}}</a>
                            </h3>
                            <span class="description">{{restaurant.address}}</span>
                        </figcaption>
                        <div class="tourbtn">
                            <a class="btn btn-sm rest-bn" target="_blank" rel="noreferrer"
                                (click)="restaurantNavigate(restaurant.id, user)">
                                <br> <i class="fa-solid fa-utensils"></i> <br> Accéder
                            </a>
                            <a class="btn btn-sm rest-bn" target="_blank" rel="noreferrer"
                                (click)="openDialog(restaurant, $event)">
                                <br> <i class="fa-solid fa-trash"> </i> <br> Supprimer
                            </a>
                        </div>
                    </figure>
                </div>
                <div class="tourcard" id="res_card" style="min-width: 300px">
                    <figure>
                        <div class="tourpic">
                            <img width="300" height="200" src='/assets/images/street.jpg'>
                            <span class="tourday hot">Ajouter un restaurant</span>
                        </div>
                        <figcaption>
                            <h3 class="entry-title">
                                <a>Nouveau restaurant</a>
                            </h3>
                            <span class="description">Cliquer pour ajouter un restaurant</span>
                        </figcaption>
                        <div class="tourbtn">
                            <a *ngIf="is_confique" class="btn btn-sm" target="_blank" rel="noreferrer"
                                (click)="openFormular($event)">
                                <i class="fa-solid fa-plus"></i> <br> Ajouter
                            </a>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </main>
</body>

</html>