<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'entrée sur les restaurants du propriétaire le propriétaire
         peut ajouiter des restaurant et donné des droits spcifique aux employées</title>
    <link rel="stylesheet" href="/src/app/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/src/app/assets/css/brands.css">
    <link rel="stylesheet" href="/src/app/assets/css/solid.css">

</head>
<body>
    <header>
        <h1 class="navbar-brand col-md-3 col-lg-2 px-3 fs-6">SoftEat</h1>
    </header>
    <main>
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 col-md-5 col-buttons">
                    <button class="button-36" role="button">Analyse des restaurants</button>
                </div>
                <div class="col-lg-3 col-md-3 col-buttons">
                    <button class="button-36" role="button">Ajouter un restaurant</button>
                </div>
                <div class="col-lg-3 col-md-4 col-buttons">
                    <button class="button-36" role="button">Supprimer un restaurant</button>
                </div>
            </div>
        </div>
        <i class="fa-solid fa-user"></i>
        <i class="fa-brands fa-github-square"></i>
        <i class="fa-solid fa-fork-knife"></i>
    </main>
</body>
</html>
