

body {
  background: rgb(245, 245, 245);
  height: 100vh;
  width: auto;
}

header {
  background-color: white;
  height: 68px;
  display: flex;
  justify-content: space-between;

}

ul{
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 15px;
}

#analyse {
  background: #fff;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 300px;
  height: auto;
}

#analyse:hover {
  background: rgb(30, 148, 30);
  color: #fff;
}

main {
  height: 90%;
  width: auto;
  background: rgb(245, 245, 245);
}


#card_number {
  height: 5%;
  text-align: center;
  /*comment align the inline(-block) elements horizontally */
}

#card_number::before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
/*   comment  vertical alignment of the inline element  */
  height: 100%;
}

#res_card {
  display: inline-block;
  vertical-align: middle;
/*   comment vertical alignment of the inline element */
   font: 16px/1 Arial sans-serif;
  /* comment <-- reset the font property  */
}

#marque {
  font-family: 'ABeeZee', sans-serif;
  font-style: italic;
  overflow: hidden;
  font-size: 32px;
  padding-top: 11px;
  padding-bottom: 11px;
  color: rgb(30, 148, 30);
}

#add_card_icon {
  font-size: 120px;
  margin: 10px;
  padding: 10px;
  color: rgb(30, 148, 30);
}



@media screen and (max-width: 600px) {
  #navbar_top {
    background-color: white;
    width: max-content;
    margin-left: 0%;
  }
}


/* comment CSS 
 */
.btn {
  background: transparent;
  margin: 3px;
  border: 1px solid #eaeaea;
  border-radius: 0px;
}

.btn:hover {
  background: #eaeaea;
  color: black;
}

.tourcard {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  flex: 0 1 300px;
  margin: 10px;
  padding: 0;
  min-width: 300px;
  margin-inline: 5%;
}

.tourcard:hover {
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.tourcard figure {
  margin: 0;
  padding: 0;
  position: relative;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 100%;
}

#scroll-right {
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

#scroll-right::-webkit-scrollbar {
  -webkit-animation: none;
  animation: none;
}


#button-slide-right {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#button-slide-left {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#navigation {
  display: flex;
  justify-content: space-between;
  margin-inline: 5%;
  margin-top: 5%;
  font-size: 60px;
  color: rgb(113, 121, 126);
  opacity: 60%;
}

.tourpic {
  background: #444;
  position: relative;
}

#add_card {
  width: 100%;

}

.tourbtn {
  margin: 0;
  padding: 0;
}

.tourbtn:after {
  clear: both;
}

.tourbtn span {
  height: fit-content;
}

.tourcard figure .tourpic img {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: .50;
}


.tourcard:hover figure .tourpic img {
  opacity: 0.9;
}


.tourcard figure .tourpic .tourcat {
  color: #fff;
  font-size: .8em;
  padding: 3px 5px;
  position: absolute;
  right: 15px;
  text-transform: uppercase;
  bottom: 15px;
}

.tourcard figure .tourpic .tourday {
  text-transform: uppercase;
  color: #fff;
  font-size: .8em;
  position: absolute;
  left: 15px;
  bottom: 15px;
  padding: 3px 5px;
}


.tourcard figure .tourpic .tourday.hot {
  background: #000;
  background: red;
  background: -webkit-linear-gradient(0deg, red, orange);
  background: linear-gradient(90deg, red, orange);
  background-size: 200% 200%;
  -webkit-animation: hot 10s ease infinite;
  -moz-animation: hot 10s ease infinite;
  -o-animation: hot 10s ease infinite;
  animation: hot 10s ease infinite;
}

.tourcard figure .tourbtn {
  background: transparent;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-content: center;
}

.tourcard figure .tourbtn a {
  flex: 1;
}

.tourcard figure figcaption {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
  margin: 0 0 30px;
  display: flex;
  flex-flow: column nowrap;
  color: white;
}

figcaption h3 a {
  text-decoration: none;
  color: white;
}

.description {
  opacity: 0;
  display: none;
}

.tourprice {
  opacity: 0;
  display: none;
  font-size: .8em;
}

.currency {
  font-weight: 300;
}

.price {
  font-size: 2em;
  font-weight: 300;
}

.tourcard:hover figure figcaption .description,
.tourcard:hover figure figcaption .tourprice {
  display: block;
  opacity: 1;
}

#boutonDeconnexion {
  height: 40px;
}

#bouttonAcceuil{
  height: 40px;
  min-width: 96px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  #navbar_top {
    background-color: white;
    width: max-content;
    margin-left: 0;
  }
  #analyse-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  #scroll-right {
    scroll-snap-type: inline mandatory;
  }

  #scroll-right > * {
    scroll-snap-align: start;
  }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
  #navbar_top {
    background-color: white;
    width: max-content;
    margin-left: 0%;
  }

  #analyse-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  #scroll-right {
    scroll-snap-type: inline mandatory;
  }

  #scroll-right > * {
    scroll-snap-align: start;
  }

  #button-slide-left:hover{
    color: rgba(0, 0, 0, 0.87);   
  }

  #button-slide-right:hover{
    color: rgba(0, 0, 0, 0.87);
  }

}

@media screen and (min-height: 660px) and (max-width: 768px) {
  #navigation{
    display: none;
  }

  #analyse {
    background: #fff;
    margin-top: 20%;
    margin-bottom: 3%;
    width: 300px;
    height: auto;
  }

} 

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #navbar_top {
    background-color: white;
    width: max-content;
    margin-left: 0%;
  }

  #navigation {
    margin-top: 0px;
  }

  #scroll-right {
    margin-inline: 70px;
  }

  #analyse-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    margin-right: 2%;
  }

  #button-slide-left:hover{
    color: rgba(0, 0, 0, 0.87);   
  }

  #button-slide-right:hover{
    color: rgba(0, 0, 0, 0.87);
  }
}

@media screen and (min-width: 1200px) {
  #navbar_top {
    background-color: white;
    width: max-content;
    margin-left: 0%;
  }

  #analyse-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: end;
    margin-right: 2%;
  }
  #button-slide-left:hover{
    color: rgba(0, 0, 0, 0.87);   
  }

  #button-slide-right:hover{
    color: rgba(0, 0, 0, 0.87);
  }
}
