<form [formGroup]="add_prepa_section" (ngSubmit)="changePreparation()">
    <div *ngIf="!data.modification" class="selectSection">
        <p>Voulez-vous stocker la nouvelle préparation</p>
        <mat-radio-group aria-label="Selectionner une option">
            <mat-radio-button value="true" (click)="setTrue()">oui</mat-radio-button>
            <mat-radio-button value="false" (click)="setFalse()">non</mat-radio-button>
        </mat-radio-group>
    </div>
    <p class="title">Entrer le nom de la nouvelle préparation</p>
    <div class="section">
        <mat-form-field appearance="fill">
            <mat-label>Entrer le nom de la nouvelle préparation</mat-label>
            <input matInput formControlName="name" placeholder="Ex. sauce bolognaise">
        </mat-form-field>
    </div>
    <p class="title">Quelles sont les ingrédients de base ?</p>
    <div class="section_fileds">
        <ng-container formArrayName="base_ing">
            <div class="old" *ngFor="let item of add_prepa_section.controls.base_ing.controls;let i=index">
                <ng-container [formGroupName]="i">
                    <div class="container-content">
                        <div class="full-container">
                            <p>nom</p>
                            <p>quantitée</p>
                            <p>unitée</p>
                        </div>
                        <div class="full-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Choisir l'ingrédient</mat-label>
                                <mat-select (selectionChange)="getUnity($event, 'ing', i)" formControlName="name">
                                     <mat-option (onSelectionChange)="changeIng($event, i)"  *ngFor="let ingredient of ingredients" [value]="ingredient.name">{{ingredient.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label> quantitée pour la préparation </mat-label>
                                <input matInput type="number" formControlName="quantity">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>unitée</mat-label>
                                <mat-select formControlName="unity">
                                    <mat-option value="kg"> kg (kilogramme)</mat-option>
                                    <mat-option value="g"> g (grame)</mat-option>
                                    <mat-option value="L"> L (litre)</mat-option>
                                    <mat-option *ngIf="!curr_ingredients_vrac.includes(i)" value="p"> p (pièce)</mat-option>
                                    <mat-option value="c.c"> cuillères à café</mat-option>
                                    <mat-option value="c.s"> cuillères à soupe</mat-option>
                                    <mat-option value="pince"> une pincée </mat-option>
                                    <mat-option value="pointe"> une pointe </mat-option>
                                    <mat-option value="noisette"> une noisette de beurre</mat-option>
                                    <mat-option value="noix"> une noix de beurre</mat-option>
                                    <mat-option value="verre"> un verre</mat-option>
                                    <mat-option value="ml"> ml (millilitre)</mat-option>
                                    <mat-option value="cl"> cl (centilitre)</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
                <button class="btn supp_button" (click)="suppInputIng(i)" mat-stroked-button>Suppression de l' ingrédient</button>
            </div>
        </ng-container>
        <div class="inputs-containers">
            <button mat-mini-fab type="button" id="add_input_ing" color="white" matTooltip="ajout d'un ingrédient"
            aria-label="ajout d'un ingrédient" (click)="addInputIng()">
                <i class="fa-regular fa-plus"></i>
            </button>
        </div>
    </div>
    <p class="title">Quelles sont les consommables ? </p>
    <div class="section_fileds">
        <ng-container formArrayName="base_conso">
            <div class="old" *ngFor="let item of add_prepa_section.controls.base_conso.controls;let i=index">
                <ng-container [formGroupName]="i">
                    <div class="container-content">
                        <div class="full-container">
                            <p>nom</p>
                            <p>quantitée</p>
                            <p>unitée</p>
                        </div>
                        <div class="full-container">
                            <mat-form-field appearance="fill">
                                <mat-label>Choisir le consommable</mat-label>
                                <mat-select (selectionChange)="getUnity($event, 'conso', i)" formControlName="name">
                                     <mat-option *ngFor="let consommable of consommables" [value]="consommable.name">{{consommable.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label> quantitée pour la préparation </mat-label>
                                <input matInput type="number" formControlName="quantity">
                            </mat-form-field>
                            <mat-form-field appearance="fill">
                                <mat-label>unitée</mat-label>
                                <mat-select formControlName="unity">
                                    <mat-option value="kg"> kg (kilogramme) </mat-option>
                                    <mat-option value="mètre"> m (mètre) </mat-option>
                                    <mat-option value="p"> p (pièce) </mat-option>
                                    <mat-option value="L"> L (litre)</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
                <button class="btn supp_button" (click)="suppInputConso(i)" mat-stroked-button>Suppression du consommable</button>
            </div>
        </ng-container>
        <div class="inputs-containers">
            <button mat-mini-fab type="button" id="add_input_conso" color="white" matTooltip="ajout d'un consommable"
            aria-label="ajout d'un consommable" (click)="addInputConso()">
                <i class="fa-regular fa-plus"></i>
            </button>
        </div>
    </div>
    <p class="title">Quelles sont les étapes ?</p>
    <div class="section_fileds">
        <ng-container formArrayName="etapes">
            <div class="old" *ngFor="let item of add_prepa_section.controls.etapes.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <div class="container-content">
                        <div class="full-container">
                            <p>nom</p>
                            <p>commentaire</p>
                            <p>temps de réalisation</p>
                        </div>
                        <div class="full-container">
                            <mat-form-field appearance="fill">
                                <mat-label>nom des étapes</mat-label>
                                <input matInput formControlName="name" placeholder="Ex. création de la sauce salade">
                             </mat-form-field>
                             <mat-form-field appearance="fill">
                                <mat-label> commentaire pour l'étape </mat-label>
                                <input matInput formControlName="comm">
                             </mat-form-field>
                             <div id="time-form">
                                <div class="col">
                                    <mat-form-field class="time" appearance="fill">
                                        <mat-label>heure</mat-label>
                                        <input matInput type="number" formControlName="heure">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field class="time" appearance="fill">
                                        <mat-label>minute</mat-label>
                                        <input matInput type="number" formControlName="minute">
                                    </mat-form-field>
                                </div>
                                <div class="col">
                                    <mat-form-field class="time" appearance="fill">
                                        <mat-label>seconde</mat-label>
                                        <input matInput type="number" formControlName="seconde">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
               <button class="btn supp_button" (click)="suppInputEtape(i)" mat-stroked-button>Suppression d'une étape</button>
            </div>
        </ng-container>
        <div class="inputs-containers">
            <button mat-mini-fab type="button" id="add_input_conso" color="white" matTooltip="ajout d'une étape"
            aria-label="ajout d'une étape" (click)="addInputEtape()">
                <i class="fa-regular fa-plus"></i>
            </button>
        </div>
    </div>
    <p class="title">quantitée après préparation</p>
    <div class="section_fileds">
        <div class="container-content">
            <div class="full-container">
                <p>quantitée</p>
                <p>unitée</p>
            </div>
            <div class="full-container">
                <mat-form-field appearance="fill">
                    <mat-label>Entrer la quantitée apès préparation</mat-label>
                    <input matInput type="number" formControlName="quantity_aft_prep" placeholder="Ex. 12">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Entrer l'unitée de la préparation</mat-label>
                    <mat-select formControlName="unity">
                        <mat-option value="L">litre</mat-option>
                        <mat-option value="cl">centilitre</mat-option>
                        <mat-option value="g">gramme</mat-option>
                        <mat-option value="kg">kilogramme</mat-option>
                        <mat-option value="p">pièce</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
    <button mat-stroked-button id="add" type="submit"> Ajouter </button>
</form>