<form [formGroup]="add_prepa_section" (ngSubmit)="changePreparation()">
    <div class="section">
        <p>Entrer le nom de la nouvelle préparation : </p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer le nom de la nouvelle préparation</mat-label>
            <input matInput formControlName="name" placeholder="Ex. sauce bolognaise">
        </mat-form-field>
    </div>
    <div class="section_fileds">
        <p>Quelles sont les ingrédients de base ? <br> entrer la quantitée de l'ingrédient de base <br>  utilisé pour la
            préparation : </p>
        <ng-container formArrayName="base_ing">
            <div class="old" *ngFor="let item of add_prepa_section.controls.base_ing.controls;let i=index">
                <ng-container [formGroupName]="i">
                    <mat-form-field appearance="fill">
                        <mat-label>nom de l'ingrédient</mat-label>
                        <input matInput formControlName="name" placeholder="Ex. Pizza">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label> quantitée pour la préparation </mat-label>
                        <input matInput type="number" formControlName="quantity">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label> unitée</mat-label>
                        <input matInput formControlName="unity">
                    </mat-form-field>
                </ng-container>
            </div>
        </ng-container>    
        <button mat-mini-fab type="button" id="add_input_ing" color="white" matTooltip="ajout d'un ingrédient"
            aria-label="ajout d'un ingrédient" (click)="addInputIng()">
            <i class="fa-regular fa-plus"></i>
        </button>
    </div>
    <div class="section_fileds">
        <p>Quelles sont les consommables ? <br> entrer la quantitée, le nom et l'unitée <br> de consommables utilisés pour la préparation : </p>
        <ng-container formArrayName="base_conso">
            <div class="old" *ngFor="let item of add_prepa_section.controls.base_conso.controls;let i=index">
                <ng-container [formGroupName]="i">
                    <mat-form-field appearance="fill">
                        <mat-label>nom du consommable</mat-label>
                        <input matInput formControlName="name" placeholder="Ex. Film d'aluminium">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label> quantitée pour la préparation </mat-label>
                        <input matInput type="number" formControlName="quantity">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label> unitée</mat-label>
                        <input matInput formControlName="unity">
                    </mat-form-field>
                </ng-container>
            </div>
        </ng-container>
        <button mat-mini-fab type="button" id="add_input_conso" color="white" matTooltip="ajout d'un consommable"
                aria-label="ajout d'un consommable" (click)="addInputConso()">
                <i class="fa-regular fa-plus"></i>
        </button>
    </div>
    <div class="section_fileds">
        <p>Quelles sont les étapes ? <br> entrer le nom, un commentaire et le temps de réalisation  <br> des différentes étapes pour réaliser la préparation : </p>
        <ng-container formArrayName="etapes">
            <div class="old" *ngFor="let item of add_prepa_section.controls.etapes.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <mat-form-field appearance="fill">
                        <mat-label>nom des étapes</mat-label>
                        <input matInput formControlName="name"
                            placeholder="Ex. création de la sauce salade">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label> commentaire pour l'étape </mat-label>
                        <input matInput formControlName="comm">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label> temps de réalisation</mat-label>
                        <input matInput type="number" formControlName="tmps">
                    </mat-form-field>
                </ng-container>
            </div>
        </ng-container>
        <button mat-mini-fab type="button" id="add_input_etapes" color="white" matTooltip="ajout de l'étape"
            aria-label="ajout de l'étape" (click)="addInputEtape()">
            <i class="fa-regular fa-plus"></i>
        </button>
    </div>
    <button mat-stroked-button type="submit"> Ajouter </button>
</form>