<form [formGroup]="add_prepa_section" (ngSubmit)="changePreparation()">
    <div class="selectSection">
        <p>Voulez-vous stocker la nouvelle préparation</p>
        <mat-radio-group aria-label="Selectionner une option">
            <mat-radio-button value="true" (click)="setTrue()">oui</mat-radio-button>
            <mat-radio-button value="false" (click)="setFalse()">non</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="section">
        <p>Entrer le nom de la nouvelle préparation : </p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer le nom de la nouvelle préparation</mat-label>
            <input matInput formControlName="name" placeholder="Ex. sauce bolognaise">
        </mat-form-field>
    </div>
    <div class="section_fileds">
        <p>Quelles sont les ingrédients de base ? <br> entrer la quantitée de l'ingrédient de base <br> utilisé pour la
            préparation : </p>
        <ng-container formArrayName="base_ing">
            <div class="old" *ngFor="let item of add_prepa_section.controls.base_ing.controls;let i=index">
                <ng-container [formGroupName]="i">
                    <mat-form-field appearance="fill">
                        <mat-label>Choisir l'ingrédient</mat-label>
                        <mat-select (selectionChange)="getUnity($event, 'ing', i)" formControlName="name">
                             <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient.name">{{ingredient.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label> quantitée pour la préparation </mat-label>
                        <input matInput type="number" formControlName="quantity">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>unitée</mat-label>
                        <mat-select formControlName="unity">
                            <mat-option value="kg"> kg (kilogramme) </mat-option>
                            <mat-option value="g"> g (grame) </mat-option>
                            <mat-option value="L"> L (litre)</mat-option>
                            <mat-option value="ml"> ml (millilitre)</mat-option>
                            <mat-option value="cl"> cl (centilitre)</mat-option>
                            <mat-option value="dl"> dl (decilitre)</mat-option>
                            <mat-option value="p"> p (pièce) </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </div>
        </ng-container>
        <div class="inputs-containers">
            <button mat-mini-fab type="button" id="add_input_ing" color="white" matTooltip="ajout d'un ingrédient"
            aria-label="ajout d'un ingrédient" (click)="addInputIng()">
                <i class="fa-regular fa-plus"></i>
            </button>
            <button mat-mini-fab type="button" id="supp_input_ing" color="white" matTooltip="supprimer un ingrédient"
            aria-label="supprimer un ingrédient" (click)="suppInputIng()">
                <i class="fa-regular fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="section_fileds">
        <p>Quelles sont les consommables ? <br> entrer la quantitée, le nom et l'unitée <br> de consommables utilisés
            pour la préparation : </p>
        <ng-container formArrayName="base_conso">
            <div class="old" *ngFor="let item of add_prepa_section.controls.base_conso.controls;let i=index">
                <ng-container [formGroupName]="i">
                    <mat-form-field appearance="fill">
                        <mat-label>Choisir le consommable</mat-label>
                        <mat-select (selectionChange)="getUnity($event, 'conso', i)" formControlName="name">
                             <mat-option *ngFor="let consommable of consommables" [value]="consommable.name">{{consommable.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label> quantitée pour la préparation </mat-label>
                        <input matInput type="number" formControlName="quantity">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>unitée</mat-label>
                        <mat-select formControlName="unity">
                            <mat-option value="kg"> kg (kilogramme) </mat-option>
                            <mat-option value="mètre"> m (mètre) </mat-option>
                            <mat-option value="p"> p (pièce) </mat-option>
                            <mat-option value="L"> L (litre)</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </div>
        </ng-container>
        <div class="inputs-containers">
            <button mat-mini-fab type="button" id="add_input_conso" color="white" matTooltip="ajout d'un consommable"
            aria-label="ajout d'un consommable" (click)="addInputConso()">
                <i class="fa-regular fa-plus"></i>
            </button>
            <button mat-mini-fab type="button" id="supp_input_ing" color="white" matTooltip="supprimer un consommable"
            aria-label="supprimer un consommable" (click)="suppInputConso()">
                <i class="fa-regular fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="section_fileds">
        <p>Quelles sont les étapes ? <br> entrer le nom, un commentaire et le temps de réalisation <br> des différentes
            étapes pour réaliser la préparation : </p>
        <ng-container formArrayName="etapes">
            <div class="old" *ngFor="let item of add_prepa_section.controls.etapes.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <mat-form-field appearance="fill">
                        <mat-label>nom des étapes</mat-label>
                        <input matInput formControlName="name" placeholder="Ex. création de la sauce salade">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label> commentaire pour l'étape </mat-label>
                        <input matInput formControlName="comm">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label> temps de réalisation</mat-label>
                        <input matInput type="number" formControlName="tmps">
                    </mat-form-field>
                </ng-container>
            </div>
        </ng-container>
        <div class="inputs-containers">
            <button mat-mini-fab type="button" id="add_input_conso" color="white" matTooltip="ajout d'une étape"
            aria-label="ajout d'une étape" (click)="addInputEtape()">
                <i class="fa-regular fa-plus"></i>
            </button>
            <button mat-mini-fab type="button" id="supp_input_ing" color="white" matTooltip="supprimer une étape"
            aria-label="supprimer une étape" (click)="suppInputEtape()">
                <i class="fa-regular fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="section">
        <p>Entrer la quantitée après préparation: </p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer la quantitée apès préparation</mat-label>
            <input matInput type="number" formControlName="quantity_aft_prep" placeholder="Ex. 12">
        </mat-form-field>
    </div>

    <div class="section">
        <mat-form-field appearance="fill">
            <mat-label>Entrer l'unitée de la préparation</mat-label>
            <mat-select formControlName="unity">
                <mat-option value="L">litre</mat-option>
                <mat-option value="cl">centilitre</mat-option>
                <mat-option value="g">gramme</mat-option>
                <mat-option value="kg">kilogramme</mat-option>
                <mat-option value="p">pièce</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <button mat-stroked-button type="submit"> Ajouter </button>
</form>