<div id="display">

   <div id="head">
      <h1>Messagerie</h1>
   </div>

   <div id="content">
      <div id="conversation_list">
         <ul>
            <li *ngIf="stockCanal">
               <a [class.active]="convActive === invConv" (click)="convActive=this.invConv">Inventaire
                  <!-- <button (click)="updateNotification(0)"> update </button> -->
                  <span *ngIf="notification[0]" class="notification-badge"></span>
               </a>
            </li>
            <li *ngIf="stockCanal">
               <a [class.active]="convActive === recConv" (click)="convActive=this.recConv">Recette
                  <span *ngIf="notification[1]" class="notification-badge"></span>
               </a>
            </li>
            <li *ngIf="analyseCanal">
               <a [class.active]="convActive === anaConv" (click)="convActive=this.anaConv">Analyse
                  <span *ngIf="notification[2]" class="notification-badge"></span>
               </a>
            </li>
            <li *ngIf="budgetCanal">
               <a [class.active]="convActive === comConv" (click)="convActive=this.comConv">Comptabilité
                  <span *ngIf="notification[3]" class="notification-badge"></span>
               </a>
            </li>
            <li *ngIf="factureCanal">
               <a [class.active]="convActive === facConv" (click)="convActive=this.facConv">Factures
                  <span *ngIf="notification[4]" class="notification-badge"></span>
               </a>
            </li>
            <li *ngIf="planningCanal">
               <a class="#rh">EMPLOYES
                  <span *ngIf="notification[5]" class="notification-badge"></span>
               </a>
            </li>
            <li>
               <a class="#ressourcesh">Ressources Humaines
                  <span *ngIf="notification[6]" class="notification-badge"></span>
               </a>
            </li>
         </ul>

      </div>
      <div id="conversation">
         <div id="messages">
            <div *ngIf="separationDateB" class="separationDate">
               <span>{{ fetchTimeServer() | date: 'E dd MMMM yyyy' }}</span>
             </div>
            <message-template *ngFor="let message of messagerie" [listeMessages]="message"></message-template>
            <span id="down"></span>
         </div>
         <div id="message_bar">  
            <input type="text" [(ngModel)]="inputText" id="messageInput" autocomplete="off"/>
            <button (click)="sendMessage()" id="send" ><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
         </div>
      </div>
   </div>

</div>