<div id="display">

   <div id="head">
      <h1>Messagerie</h1>
   </div>

   <div id="content">
      <div id="conversation_list">
         <ul>
            <li *ngIf="stockCanal"><a class="#inventaire">Inventaire
               <!-- <button (click)="updateNotification(0)"> update </button> -->
               <span *ngIf="notification[0]" class="notification-badge"></span></a></li>
            <li *ngIf="stockCanal"><a class="#recette">Recette<span *ngIf="notification[1]" class="notification-badge"></span></a></li>
            <li *ngIf="analyseCanal"><a class="#analyse">Analyse<span *ngIf="notification[2]" class="notification-badge"></span></a></li>
            <li *ngIf="budgetCanal"><a class="#comptabilité">Comptabilité<span *ngIf="notification[3]" class="notification-badge"></span></a></li>
            <li *ngIf="factureCanal"><a class="#Factures">Factures<span *ngIf="notification[4]" class="notification-badge"></span></a></li>
            <li *ngIf="planningCanal"><a class="#rh">EMPLOYES<span *ngIf="notification[5]" class="notification-badge"></span></a></li>
            <li><a class="#ressourcesh">Ressources Humaines<span *ngIf="notification[6]" class="notification-badge"></span></a></li>
         </ul>

      </div>
      <div id="conversation">
         <div id="messages">
            <message-template *ngFor="let message of messagerie" [listeMessages]="message"></message-template>
            <button (click)="updateUnreadMessages('ana', ['telecom1@gmail.coom'])">Ajouter une notification sur cette conversation pour telecom1</button>
            <button (click)="markCanalAsRead('ana', 'telecom1@gmail.coom')">Retirer la notification sur cette conversation pour telecom1</button>
         </div>
         <div id="message_bar">  
            <input type="text" [(ngModel)]="inputText" id="messageInput" autocomplete="off"/>
            <button (click)="sendMessage()" id="send"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
         </div>
      </div>
   </div>

</div>