
h1{
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: normal;
    color: rgb(125, 181, 46);
    position: fixed;
    top:0;
    z-index : 1;
    width: 100%;
}

#display{
    display: flex;
    flex-direction:row;
    padding-top: 100px;
    
}

#conv {
    background-color: #04AA6D;
    float: right;
    width: 75%;
    overflow-wrap: break-word;
    max-height: calc(100vh - 140px); /* hauteur maximale pour la section de conversation */
    overflow-y: auto; /* afficher une barre de défilement si la section dépasse la hauteur maximale */
}

#form {
    background: rgba(39, 112, 214, 0.51);
    padding: 0.25rem;
    position:fixed;
    width: 75%;
    right:0;
    bottom: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

#input {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

#input:focus {
    outline: none;
}

#form>button {
    background: #333;
    border: none;
    padding: 0 1rem;
    margin: 0.25rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

#page {
    display: flex;
    flex-direction: column;
    position:fixed;
    margin-top:100px;
    max-height: calc(100vh - 100px); /* hauteur maximale pour la section de navigation */
    overflow-y: auto; /* afficher une barre de défilement si la section dépasse la hauteur maximale */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
li a.active {
    background-color: #04AA6D;
    color: white;
}
  
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

