<div id="display">

   <div id="head">
      <h1>Messagerie</h1>
   </div>

   <div id="content">
      <div id="conversation_list">
         <ul>
            <li *ngIf="stockCanal">
               <a [class.active]="convActive === invConv" (click)="switchChannel(invConv, 'inv')">
                  <span class="conversation-name">
                     Inventaire
                  </span>
                  <span *ngIf="notification['inv']" class="notification-badge"></span>
               </a>
            </li>
            <li *ngIf="stockCanal">
               <a [class.active]="convActive === recConv" (click)="switchChannel(recConv, 'rec')">
                  <span class="conversation-name">
                     Recette
                  </span>
                  <span *ngIf="notification['rec']" class="notification-badge"></span>               
               </a>
            </li>
            <li *ngIf="analyseCanal">
               <a [class.active]="convActive === anaConv" (click)="switchChannel(anaConv, 'ana')">
                  <span class="conversation-name">
                     Analyse
                  </span>
                  <span *ngIf="notification['ana']" class="notification-badge"></span>               
               </a>
            </li>
            <li *ngIf="budgetCanal">
               <a [class.active]="convActive === comConv" (click)="switchChannel(facConv, 'com')">
                  <span class="conversation-name">
                     Comptabilité
                  </span>
                  <span *ngIf="notification['com']" class="notification-badge"></span>               
               </a>
            </li>
            <li *ngIf="factureCanal">
               <a [class.active]="convActive === facConv" (click)="switchChannel(facConv, 'fac')">
                  <span class="conversation-name">
                     Factures
                  </span>
                  <span *ngIf="notification['fac']" class="notification-badge"></span>               
               </a>
            </li>
            <li *ngIf="planningCanal">
               <a class="#rh">
                  <span class="conversation-name">
                     EMPLOYES
                  </span>
                  <span *ngIf="notification['plan']" class="notification-badge"></span>               
               </a>
            </li>
            <li>
               <a [class.active]="convActive === currentUserConv" (click)="convActive=this.currentUserConv; fetchData()">
                  <span class="conversation-name">
                     Ressources Humaines
                  </span>
                  <span *ngIf="notification['rh']" class="notification-badge"></span>               
               </a>
            </li>
         </ul>

      </div>
      <div id="conversation">
         <div id="messages" #scrollMe>
            <div *ngIf="newDay" class="separationDate">
               <span>{{ this.date | date: 'E dd MMMM yyyy' }}</span>
             </div>
            <message-template *ngFor="let message of messagerie" [listeMessages]="message"></message-template>
            <!-- <button (click)="updateUnreadMessages('inv', ['telecom1@gmail.coom'])">Ajouter une notification sur la conversation `inv` pour telecom1</button>
            <button (click)="markCanalAsRead('inv', 'telecom1@gmail.coom')">Retirer la notification sur la conversation `inv` pour telecom1</button> -->
         </div>
         <div id="message_bar">  
            <input type="text" [(ngModel)]="inputText" (keydown.enter)="sendMessage()" id="messageInput" autocomplete="off"/>
            <button (click)="sendMessage()" id="send" ><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
         </div>
      </div>
   </div>

</div>