<body>
    <h1> Congés Payés </h1>
    <div id="hbar" class="flex-container">
        <div style="flex-grow: 0.3" id="restants">
            <p> Total : 6 semaines
                <!-- mes semaines à l'année : {{ user.congés.total }} au lieu du "6 semaines" -->
            </p>
            <p> Restant : <span [ngStyle]="{ color: 'rgb(0, ' + 185 + ', 0)' }"> 4 semaines
                    <!-- mes semaines restantes de congés : {{ user.congés.dispo }} au lieu du "4 semaines" -->
                </span> </p>
        </div>
        <div style="flex-grow: 1" id="motif">
            <button (click)="autofillInput()">Congés</button>
            <button>RTT</button>
            <button>Maternité</button>
            <button>Paternité</button>
            <button>Exceptionnels</button>
        </div>
        <div style="flex-grow: 5">
            <form>
                <label for="nom">Motif </label>
                <input #motif type="text" placeholder="Motif ?">

                <label for="début">Date début </label>
                <input type="date" id="début" name="début" required>
                <label for="fin">Date début </label>
                <input type="date" id="fin" name="fin" required>

                <label for="file">Joindre un fichier </label>
                <input type="file" id="file" name="file">

                <input type="submit" value="Envoyer">
            </form>
        </div>
    </div>
</body>