<body>
    <h1> Congés Payés </h1>
    <div id="hbar" class="flex-container">
        <div style="flex-grow: 0.2" id="restants">
            <p *ngIf="(+this.conges)>1"> Restant : <span [ngStyle]="{ color: 'rgb(0, ' + 185 + ', 0)' }"
                    style="margin-left: 2px;">{{this.conges}} Semaines
                </span> </p>
            <p *ngIf="(+this.conges)<=1"> Restant : <span [ngStyle]="{ color: 'rgb(0, ' + 185 + ', 0)' }"
                style="margin-left: 2px;">{{this.conges}} Semaine
                </span> </p>
        </div>
        <div style="flex-grow: 1" id="motif">
            <button #autofillConge (click)="autofillInput(autofillConge.innerText)">Congés</button>
            <button #autofillRTT (click)="autofillInput(autofillRTT.innerText)">RTT</button>
            <button #autofillMate (click)="autofillInput(autofillMate.innerText)">Maternité</button>
            <button #autofillPate (click)="autofillInput(autofillPate.innerText)">Paternité</button>
            <button #autofillExce (click)="autofillInput(autofillExce.innerText)">Exceptionnels</button>
        </div>
        <div style="flex-grow: 5">
            <h2> Demande de congés payés </h2>
            <form>
                <div class="line">
                    <label for="nom">Motif </label>
                    <input #motif id="motif" type="text" placeholder="Champ obligatoire*" [style.width]="dateWidth"
                        required>
                </div>
                <div class="line">
                    <label for="début">Date début </label>
                    <input #dateDebut type="date" id="début" name="début" [style.width]="dateWidth" required>
                </div>
                <div class="line">
                    <label for="fin">Date fin </label>
                    <input #dateFin type="date" id="fin" name="fin" [style.width]="dateWidth" required>
                </div>

                <div class="picker">
                    <input type="file" id="fileInput" name="fileInput" class="file-input"
                        (change)="displayFileName($event)">
                    <label for="fileInput" class="file-label">Joindre un fichier</label>
                </div>
                <div *ngIf="selectedFileName" class="file-info">
                    <p class="selected">{{ selectedFileName }}</p>
                    <button class="unchoose-button" (click)="unchooseFile()">&cross;</button>
                </div>

                <div class="submit">
                    <input class="mat-stroked-button" type="submit" value="Envoyer">
                </div>
            </form>
        </div>
    </div>
</body>