<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1> Ingrédients </h1> 
    </header>
    <main>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> nom </th>
                <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="categorie_restaurant">
                <th mat-header-cell *matHeaderCellDef> catégorie budget </th>
                <td mat-cell *matCellDef="let element"> {{element.categorie_restaurant}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="categorie_tva">
                <th mat-header-cell *matHeaderCellDef> catégorie tva </th>
                <td mat-cell *matCellDef="let element"> {{element.categorie_tva}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef> cout HT </th>
                <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="cost_ttc">
                <th mat-header-cell *matHeaderCellDef> cout TTC </th>
                <td mat-cell *matCellDef="let element"> {{element.cost_ttc}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="val_bouch">
                <th mat-header-cell *matHeaderCellDef> valeur après préparation </th>
                <td mat-cell *matCellDef="let element"> {{element.val_bouch}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> quantitée</th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="dlc">
                <th mat-header-cell *matHeaderCellDef> DLC</th>
                <td mat-cell *matCellDef="let element"> {{element.dlc}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </main>   
   
</body>
</html>


    

