<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1> Ingrédients </h1>
        <div id="action-buttons">
            <button mat-stroked-button (click)="OpenAddIngForm()">
                <i class="fa-regular fa-plus"></i>
                Ajouter un ingrédient
            </button>
        </div>
    </header>
    <main>
        <h2>Information</h2>
        <ul>
            <li>
                <p>
                    quantitée total = quantitée unitaire x quantitée (ex. on achète deux steak à 120 grammes la quantitée est deux,
                    la quantitée unitaire est 120, l'unitée est g).
                </p>
            </li>
            <li>
                <p>
                  valeur après préparation : gain en valeur suite à la préparation de l'aliment. 
                </p>
            </li>
        </ul>
        <h2>Données</h2>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef> nom </th>
                <td mat-cell *matCellDef="let element">
                    <div [innerHTML]="element.nom"></div>
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="categorie_tva">
                <th mat-header-cell *matHeaderCellDef> catégorie <br> tva </th>
                <td mat-cell *matCellDef="let element">
                    <div [innerHTML]="element.categorie_tva"></div>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> quantitée</th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="quantity_unity">
                <th mat-header-cell *matHeaderCellDef> quantitée <br> unitaire</th>
                <td mat-cell *matCellDef="let element"> {{element.quantity_unity}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="unity">
                <th mat-header-cell *matHeaderCellDef> unitée</th>
                <td mat-cell *matCellDef="let element"> {{element.unity}} </td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef> cout <br> unitaire <br> HT </th>
                <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="cost_ttc">
                <th mat-header-cell *matHeaderCellDef> cout <br> unitaire <br> TTC </th>
                <td mat-cell *matCellDef="let element"> {{element.cost_ttc}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="date_reception">
                <th mat-header-cell *matHeaderCellDef> date <br> de <br> réception</th>
                <td mat-cell *matCellDef="let element"> {{element.date_reception}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="dlc">
                <th mat-header-cell *matHeaderCellDef> DLC</th>
                <td mat-cell *matCellDef="let element"> {{element.dlc}} </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="bef_prep">
                <th mat-header-cell *matHeaderCellDef> quantitée <br> avant <br> préparation </th>
                <td mat-cell *matCellDef="let element"> {{element.bef_prep}} </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="after_prep">
                <th mat-header-cell *matHeaderCellDef> quantitée <br> après <br> préparation </th>
                <td mat-cell *matCellDef="let element"> {{element.after_prep}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="val_bouch">
                <th mat-header-cell *matHeaderCellDef> valeur <br> après <br>préparation </th>
                <td mat-cell *matCellDef="let element"> {{element.val_bouch}} </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="cuisinee">
                <th mat-header-cell *matHeaderCellDef> cuisinée </th>
                <td mat-cell *matCellDef="let element"> {{element.cuisinee}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> actions </th>
                <td id="validate" mat-cell *matCellDef="let element;let cell_index = index; ">
                  <i class="fa-regular fa-trash action_table" (click)="suppIng(element)"></i>
                  <i class="fa-regular fa-pen action_table" (click)="modifIng(element)"></i>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[6]"
            (page)="pageChanged($event)"
            [length]="ingredients_displayed_br.length + ingredients_displayed_prep.length"
            showFirstLastButtons
            aria-label="Selection page d'ingredients">
        </mat-paginator>
    </main>

</body>

</html>