.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
    right: 0;
    */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgb(30, 148, 30);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }

  #alertes {
    visibility: hidden;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}


header {
  background-color: #228b22;
}

.sidebar .feather {
  margin-right: 4px;
  color: rgb(30, 148, 30);
}

.navigation {
  width: 24px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}


.nav-link {
  font-weight: normal;
  cursor: pointer;
  color: #333;
  font-family: 'Inter', sans-serif;
}



.nav-link:hover{
  font-weight: bold;
}

.nav-link:active {
  color: rgb(30, 148, 30);
}
.souligneVert::after{
   content: '';
   display: block;
   height: 2px;
   background: rgb(30, 148, 30);
   transform: scale(0);
   transition: transform 0.2s ease-in-out;
}
.souligneVert:hover::after{
  transform: scale(1);
}
#alertes:active {
  color: rgb(30, 148, 30);
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgb(30, 148, 30);
  box-shadow: inset -1px 0 0 rgb(30, 148, 30);
  font-family : 'ABeeZee', sans-serif;
  font-style: italic;
  font-size: 38px;
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}


#alertes {
  color: white;
}
