
:root{
  --accent:rgb(30, 148, 30);
  --primary:#fff;
  --secondary: rgb(245,245,245);
  --text-default:#000;
  --text-primary:#555;
  --text-secondary:#ccc;
}
:dark-mode{
  --primary:#213348;
  --secondary: #0a131c;
  --text-default:#fff;
  --text-secondary:#ccc;
}
  #restaumatiqueT{
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;
    font-size: 38px;
    
    color : rgb(30, 148, 30);
    
  }
  ul{
    list-style: none;
    padding: 0;
  }
  a{
    text-decoration: none;
    color:rgb(30, 148, 30);
  }
  li a {
    font-family: 'Inter', sans-serif;
    color: rgb(20, 20, 20);
    text-align: center;
    cursor:pointer;

  }
 
  .sidebar{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.8);
    top:0;
    left:0;
    height: 100%;
    padding: 2em;  
    width: 16em;
    border-right: 1px rgb(210, 210, 210) solid;
  }
  .sidebar::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track{
    background: var(--secondary);
  }

  ::-webkit-scrollbar-thumb{
    background: var(--primary);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb::hover{
    background: var(--text-secondary);
  }
  .sidebar ul{
    margin: 2em 0 5em 0;
  }
  .sidebar ul i{
    color: #8c91a6;
    font-size: 1.5em;
    margin-right: 0.5em;
  }
  .sidebar ul li{
    margin: 0.5em 0;
  }
  .sidebar ul a{
    padding: 0.7em;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.2s;
  }
.sidebar ul a:hover{
  background: var(--accent);
  border-color: rgb(0, 85, 0);
  color: #fff;
}



  @media screen and (max-width: 600px) { 
    #navbar_top{
      background-color: white;
      width: max-content;
      margin-left: 0%;
    }
  }
