<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Classification des plats</h1>
    </header>
    <main>
        <p id="select-label">Séléctionner des mois pour l'analyse</p>
        <section id="month-selection">
            <mat-checkbox>janvier</mat-checkbox>
            <mat-checkbox>février</mat-checkbox>
            <mat-checkbox>mars</mat-checkbox>
            <mat-checkbox>avril</mat-checkbox>
            <mat-checkbox>mai</mat-checkbox>
            <mat-checkbox>juin</mat-checkbox>
            <mat-checkbox>juillet</mat-checkbox>
            <mat-checkbox>août</mat-checkbox>
            <mat-checkbox>septembre</mat-checkbox>
            <mat-checkbox>octobre</mat-checkbox>
            <mat-checkbox>novembre</mat-checkbox>
            <mat-checkbox>décembre</mat-checkbox>
        </section>
        <div id="menuEngineering"></div>
    </main>
</body>
</html>
 -->