:root{
  --accent:rgb(30, 148, 30);

  /*--color_Blue: #3f93f1;*/
  --color_Blue: rgb(30, 148, 30);
  --color_Light1: #dfdfdf;
}

body{
  background: var(--secondary);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 18rem auto;
  transition:0.3s ease-in-out;
}
*{
  box-sizing: border-box;
  margin: 0;
}
 /*temporaire*/
 h1, p{
  font-family: 'Inter', sans-serif;
  color: rgb(20, 20, 20);
}

/***********/

main{
  /*temporaire*/
  /*fin temporaire*/
  padding: 2em;
  padding-top: 4em;
    transition: all .5s ease;
}

.sidebar.close ~ main{
  left: 78px;
  width: calc(100% - 78px);
}
.panel{
  width: 70vmax;
}
@media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
    #alertes{
      visibility: hidden;
    }
    #top-alerte{
    padding: 15px;
    }
  #top-buttons{
    padding: 20px;
   }
}