<!doctype html>
<html lang="en">

<head>
    <!-- SEO 1: mettre un titre -->
    <title> corps de la dashboard</title>
    <!-- SEO 2: ajouter des balises meta balise  l'ordre doit être titre/description c'est la meta description qui va permettre 
   a google de référencer le nombre de cliques, (deux mots clefs, 141 caractères/25 mots, unique)-->
    <meta name="description" content="affiche le contenu des dashboard (i.e, les alertes, le stock, l'analyse, les factures et la
    gestion rh), cette page permet la gestion des accès aux différentes fonctionnalitées">

    <!--SEO 3 : balise meta viewport permet d'adapter le site au format mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--SEO 4 : important on référence le code dupliqué pour bénéficier des bon points du code-->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/dashboard/" />
</head>
<!-- SEO : affichage du corp du site  -->
<body>
    <app-main-dashboard (numP)="numP = $event" ></app-main-dashboard>
    <div class = "panel">
        <app-alertes *ngIf="numP==1"></app-alertes>
        <app-profil *ngIf="numP==2"></app-profil>
        <app-stock *ngIf="numP==3" [stock]="status.stock"></app-stock>
        <app-conso *ngIf="numP==4" [stock]="status.stock"></app-conso>
        <app-prepa *ngIf="numP==5" [stock]="status.stock"></app-prepa>
        <app-menu *ngIf="numP==6"></app-menu>
        <app-plats *ngIf="numP==7"></app-plats>
        <app-preparations *ngIf="numP==8"></app-preparations>
        <app-clients *ngIf="numP==9"></app-clients>
        <app-analysestock *ngIf="numP==10"></app-analysestock>
        <app-analysefreq *ngIf="numP==11"></app-analysefreq>
        <app-analysetables *ngIf="numP==12"></app-analysetables>
        <app-analyseconso *ngIf="numP==13"></app-analyseconso>
        <app-analyseca *ngIf="numP==14"></app-analyseca>
        <app-analysemenu *ngIf="numP==15"></app-analysemenu>
        <app-budget *ngIf="numP==16"></app-budget>
        <app-factures *ngIf="numP==17"></app-factures>
        <app-archi *ngIf="numP==18"></app-archi>
        <app-rh *ngIf="numP==19"></app-rh>
    </div>
</body>

</html>