:root{
  --accent:rgb(30, 148, 30);
  --primary:#fff;
  --secondary: rgb(248, 248, 248);
  --text-default:#000;
  --text-primary:#555;
  --text-secondary:#ccc;
}
:dark-mode{
  --primary:#213348;
  --secondary: #0a131c;
  --text-default:#fff;
  --text-secondary:#ccc;
}
body{
  background: var(--secondary);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 18rem auto;
  transition:0.3s ease-in-out;
}
*{
  box-sizing: border-box;
  margin: 0;
}
 /*temporaire*/
 h1, p{
  font-family: 'Inter', sans-serif;
  color: rgb(20, 20, 20);
}

/***********/
main{
  /*temporaire*/
  /*fin temporaire*/
  padding: 2em;
}
.panel{
  width: 70vmax;
}
@media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
    #alertes{
      visibility: hidden;
    }
    #top-alerte{
    padding: 15px;
    }
  #top-buttons{
    padding: 20px;
   }
}