<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aide préparation</title>
</head>
<body>
    <h1>Aide préparation</h1>
    <div id="section-princ">
        <h2> Ajout d'une préparation</h2>
        <p>
            Afin d'ajouter une nouvelle préparation il faut aller dans l'onglet recette de la dashboard.
            Ensuite cliquer sur la carte contenant un boutton ajouter dans le formulaire,
            sélectionner ajouter au stock. Enfin modifier la quantitée ou ajouter
            une date limite de consommation dans cette section.
        </p>
    </div>
    <button class="btn" id="fermer" (click)="closePopup()">Fermer</button>
</body>
</html>
