<div class="table" 
[ngClass]="{'occupied': tableOccupied}">
  <div class="table-number">{{table?.tableNumber}}</div>
  <p>Statut : {{tableOccupied ? "occupé" : "non occupé"}}</p>
  <div class="table-info" [ngStyle]="{'display': isActive ? 'block' : 'none'}">
    <p>Nombre de places : {{table?.seats}}</p>
    <div class="button-container">
      <button class="payment-button" (click)="paiement_button()">Paiement</button>
    </div>
  </div>
  <button mat-button (click)="openDialog()" class="take-order-button" *ngIf="!tableOccupied && !isActive">Commandes de la table</button>
</div>