<div class="table" [ngClass]="{'occupied': tableOccupied}" (click)="toggleActive()">
  <div class="table-number">{{table?.tableNumber}}</div>
  <p>Statut : {{tableOccupied ? "occupé" : "non occupé"}}</p>

  <div class="table-info" [ngStyle]="{'display': isActive ? 'block' : 'none'}">
    <!--<p>Numéro de table : {{ tableNumber }}</p>-->
    <p>Nombre de places : {{table?.seats}}</p>
    <div class="button-container">
      <button class="payment-button" (click)="paiement_button()">Paiement</button>
    </div>
  </div>
  <button class="take-order-button" *ngIf="!tableOccupied && !isActive" (click)="takeOrder($event)">Prendre la commande</button>
</div>
