
form{
    margin-top: 250px;
    background: rgba(255, 255, 255, 0.1);
    width: max-content;
    padding: 4rem;
    border-radius: 20px;
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,.3);
    text-align: center;
    font-family: 'Inter', sans-serif;
   }
   .cont{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
   }
   input[type="button"]{
    margin-top: 10px;
    margin-bottom: 3em;
   }
   input[type ="mail"]{
    color:rgb(125, 181, 46);
    font-weight: 200;
    margin-bottom: 3em;
   }
   input[type ="password"]{
    color:rgb(125, 181, 46);
    margin-bottom: 2em;
   }  
   h3{
    font-weight: 500;
    opacity: .8;
    margin-bottom: 60px;
    color: rgb(125, 181, 46);
    font-size: 38px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
   }
   input{
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255,255,255,.3);
    padding: 1rem;
    width: 300px;
    border-radius: 90px;
    background-color: rgba(0, 255,0, 0.02);
   }
   .panel-default {
    opacity: 0.9;
    margin-top:300px;
   }

   .form-group.last {
    margin-bottom:0px;
   }
   
   #connection{
      color: rgb(125, 181, 46);
      background-color: white;
      width: 300px;
      height: auto;
      font-size: larger;
      border-radius: 3px;
      border-color: rgb(125, 181, 46, 0.5);
    }
    
    #connection:hover{
      color: white;
      background-color: rgb(125, 181, 46);
    }

    .signup{
      color:rgb(125, 181, 46);
    }

    #signupMethod{
      text-decoration: underline;
      font-weight: 600;
    }