<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aide préparation</title>
</head>

<body>
    <h1>Aide préparation</h1>
    <div id="section-princ">
        <h2>Aide pour la fiche technique</h2>
        <h3>Valeur bouchère</h3>
        <p>
            la valeur bouchère est la valeur de l'ingrédient après préparation.
            La valeur bouchère est plus précise si l'unitée des ingrédients de bases ou de la préparation final n'est pas pièce.
        </p>
        <h3>Prime cost</h3>
        <p>
            Le prime cost est le coût de la préparation en prenant en compte
        </p>
        <ol>
            <li> <span class="list-content">le coût en ressources humaines</span></li>
            <li>  <span class="list-content">le coût des consommables</span></li>
            <li>  <span class="list-content">le coût des ingrédients</span></li>
        </ol>
        <h3>Coût matière</h3>
        <p>
            Le coût matière est le coût pour la quantitée d'ingrédients utilisés dans la recette.
        </p>
    </div>
    <button class="btn" id="fermer" (click)="closePopup()">Fermer</button>
</body>

</html>