<form [formGroup]="add_facture_infos" (ngSubmit)="submitInfo()">
    <div class="section">
        <p class="title">Entrer le nom du fournisseur de la facture</p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer le nom du fournisseur</mat-label>
            <input matInput formControlName="name" placeholder="Ex. asperge">
        </mat-form-field>
    </div>
    <div class="section">
        <p class="title">Entrer le montant total crédité</p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer le montant total crédité</mat-label>
            <input matInput formControlName="cost" type="number" placeholder="Ex. asperge">
        </mat-form-field>
    </div>
    <div class="section">
        <p class="title">Quelle est la nature du document reçu</p>
        <mat-form-field appearance="fill">
            <mat-label>Quelle est la nature du document reçu</mat-label>
            <mat-select formControlName="nature">
                <mat-option *ngFor="let doc of natures" [value]="doc">
                    {{doc}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="section">
        <p class="title">Entrer le numéro d'identification</p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer le numéro d'identification</mat-label>
            <input matInput formControlName="id" placeholder="Ex. 012334">
        </mat-form-field>
    </div>
    <div class="section">
        <p class="title">Choisir des comptes</p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer le compte</mat-label>
            <mat-select formControlName="account_number" multiple>
                <mat-option (onSelectionChange)="printValue($event)" *ngFor="let account of accounts" [value]="account.id">
                    {{account.number}} ({{account.name}})
                </mat-option>
            </mat-select>
        </mat-form-field>
        <p id="infoBox" *ngFor="let account of desc">
            <ng-container *ngIf="account.desc">
                <span class="info">information du compte {{account.number}}: </span> {{account.desc}}
            </ng-container>
        </p>
    </div>
    <button id="bottom-button" mat-stroked-button type="submit"> Modifier </button>
</form>