<form [formGroup]="add_facture_infos" (ngSubmit)="submitInfo()">
    <div class="section">
        <p class="title">Entrer le nom du fournisseur de la facture</p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer le nom du fournisseur</mat-label>
            <input matInput formControlName="name" placeholder="Ex. asperge">
        </mat-form-field>
    </div>
    <div class="section">
        <p class="title">Entrer le montant total crédité</p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer le montant total crédité</mat-label>
            <input matInput formControlName="cost" type="number" placeholder="Ex. asperge">
        </mat-form-field>
    </div>
    <div class="section">
        <p class="title">Quelle est la nature du document reçu</p>
        <mat-form-field appearance="fill">
            <mat-label>Quelle est la nature du document reçu</mat-label>
            <mat-select formControlName="nature" >
                <mat-option *ngFor="let doc of natures" [value]="doc">
                {{doc}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="section">
        <p class="title">Entrer le numéro d'identification</p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer le numéro d'identification</mat-label>
            <input matInput formControlName="id" placeholder="Ex. 012334">
        </mat-form-field>
    </div>
    <div class="section">
        <p class="title">Entrer le numéro de compte</p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer le numéro de compte</mat-label>
            <input matInput formControlName="account_number" placeholder="Ex. pp128">
        </mat-form-field>
    </div>
    <button id="bottom-button" mat-stroked-button type="submit"> Modifier </button>
</form>