.section{
    display: flex;
    flex-direction: column;
}
.sub-section{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.col{
    color: rgb(125, 181, 46);
    font-size: larger;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;

}
.action_table{
    border:1px solid;
    padding: 30px;
    cursor: pointer;
}
#open-modif-form:hover{
    color: white;
    background-color: rgb(125, 181, 46);
}
#open-modif-form{
    margin-bottom: 10px;
}
#open-modif-form{
    display: block;
    text-align: center;
}
#lettrage-button{
    color: rgb(125, 181, 46);
    background-color: white;   
}
#lettrage-button:hover{
    color: white;
    background-color: rgb(125, 181, 46);  
}
