<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <div id="top-section">
        <button mat-stroked-button>
            exporter le tableau au format text
        </button>
    </div>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let record of row_fec">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{record.date_reception}}
                </mat-panel-title>
                <mat-panel-description>
                    {{record.name}}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngFor="let column of columns;let i = index">
                <div class="section">
                    <p class="col">
                        {{column}}
                    </p>
                    <div class="sub-section">
                        <p class="value">
                            {{record[index_record[i]]}}
                        </p>
                        <button mat-mini-fab (click)="openSenderInfo(record)" id="lettrage-button" matTooltip="changer le lettrage" *ngIf="column === 'Lettrage'">
                            <i class="fa-regular fa-pen"></i>
                        </button>
                    </div>
                </div>
            </div>
            <i id="open-modif-form" class="fa-regular fa-pen action_table fa-xl" (click)="modifRecord(record)"></i>
        </mat-expansion-panel>
    </mat-accordion>
    <div id="button-section">
        <button mat-fab class="plus-fab" type="button" matTooltip="ajouter un enregistrement"
        aria-label="ajouter un enregistrement" (click)="addRecord()">
            <i class="fa-regular fa-plus"></i>
        </button>
    </div>
</html>