<h1 *ngIf="currentUserRole != 'gerant'"> Congés Payés </h1>
<h1 *ngIf="currentUserRole == 'gerant'"> Emploi du temps employés </h1>
<div class="container">
  <div class="sidebar">
    <app-navbar [userMail]="currentUserMail" [userNomComplet]="currentUserNomComplet"
      *ngIf="currentUserRole == 'gerant'"></app-navbar>
    <app-hbar *ngIf="currentUserRole != 'gerant'"></app-hbar>
  </div>
  <div class="content">
    <app-calendar-view [userRole]="currentUserRole"></app-calendar-view>
  </div>
</div>