<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <h1> Plats </h1>
</header>
<body>
    <mat-tab-group>
        <ng-container *ngFor="let cat of display_categorie; let i = index">
            <mat-tab label="{{cat}}">
                <div id="container">
                    <div class="container-fluid scroll-right" id="card_number">
                        <div #widgetsContent class="row card-deck-scrollable flex-nowrap">
                            <div class="tourcard" *ngFor="let plat of getSection(i)">
                                <figure>
                                    <div class="tourpic">
                                        <img width="300" height="200" src='/assets/images/autho.jpg'>
                                        <span class="tourday hot">{{plat.type}}</span>
                                    </div>
                                    <figcaption>
                                        <h3 class="entry-title">
                                            <a>{{plat.nom.split('_').join(' ')}}</a>
                                        </h3>
                                        <span class="tourprice">
                                            <span class="currency">EUR. </span><span class="price">{{plat.prix}}</span>
                                        </span>
                                    </figcaption>
                                    <div class="tourbtn">
                                        <a class="btn btn-sm rest-bn" target="_blank" rel="noreferrer" (click)="seePlat(plat)">
                                          <br>  <i class="fa-solid fa-eye"></i> <br> Consulter
                                        </a>
                                        <a class="btn btn-sm rest-bn" target="_blank" rel="noreferrer" (click)="modifPlat(plat)">
                                            <br> <i class="fa-solid fa-pen"> </i> <br> Modifier
                                        </a>
                                        <a class="btn btn-sm rest-bn" target="_blank" rel="noreferrer" (click)="suppressPlat(plat)">
                                            <br> <i class="fa-solid fa-trash"> </i> <br> Supprimer
                                        </a>
                                    </div>
                                </figure>
                            </div>
                            <div class="tourcard" id="res_card" style="min-width: 300px">
                                <figure>
                                    <div class="tourpic">
                                        <img width="300" height="200" src='/assets/images/street.jpg'>
                                        <span *ngIf="(cat === 'Plat') || (cat === 'Dessert')"class="tourday hot">Ajouter un {{cat}}</span>
                                        <span *ngIf="cat === 'Entrée'">Ajouter une {{cat}}</span>
                                    </div>
                                    <figcaption>
                                        <h3 class="entry-title">
                                            <a *ngIf="(cat === 'Plat') || (cat === 'Dessert')">Nouveau {{cat}}</a>
                                            <a *ngIf="cat === 'Entrée'">Nouvelle {{cat}}</a>
                                        </h3>
                                        <span *ngIf="(cat === 'Plat') || (cat === 'Dessert')" class="description">Cliquer pour ajouter un {{cat}}</span>
                                        <span *ngIf="cat === 'Entrée'">Cliquer pour ajouter une {{cat}}</span>
                                    </figcaption>
                                    <div class="tourbtn">
                                        <a class="btn btn-sm" target="_blank" rel="noreferrer" (click)="addPlat(i)">
                                            <i class="fa-solid fa-plus"></i> <br> Ajouter
                                        </a>
                                    </div>
                                </figure>
                            </div>               
                        </div>
                    </div>    
                </div>
            </mat-tab>
        </ng-container>
    </mat-tab-group>  
</body>
</html>

