/* croix de fermeture de la fenêtre */
.close-fab{
    background-color: white;
    color: red;
    margin-left: 20px;
    margin-bottom: 20px;
}
.close-fab:hover{
    background-color: red;
    color: white;
    margin-left: 20px;
    margin-bottom: 20px;
}
#close-section{
    display: flex;
    justify-content: flex-end;
}
.inputs-containers-close{
    display: flex;
    justify-content: flex-end;
}
body {
    display: flex;
    flex-direction: column;
}
.section {
    margin-top: 20px;
}

.border{
    padding-right: 10px;
}

.final_section{
    display: flex;
    justify-content: space-between;
    max-width: 70%;    
}

#help {
    color: rgb(125, 181, 46);
    background-color: white;
    margin-right: 10px;
    margin-top: 10px;
}

#help:hover{
    background-color: rgb(125, 181, 46);
    color: white;
}

#border-top{
    display: flex;
    justify-content: space-between;
}

#price_section{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}

p{
    padding-top: 16px;
    margin-left: 10px;
}
.indication{
    color: rgb(125, 181, 46);
}
.indication_algo{
    color: rgb(148, 30, 148);
}

h2 {
    font-size: larger;
    color: rgb(125, 181, 46);
    margin-bottom: 35px;
}

.mat-grid-tile-content{
    justify-content: flex-start;
}

table{
    min-width: auto;
}
.name{
    max-width: 100px;
}
.comm-cells{
    min-width: 150px;
}
.other-cells{
    min-width: 100px;
}
table{
    width: 100%;
}