<div id="conteneurPresentation">
    
    <h2 id ="titreAccueil">Sobriété, automatisation,<br/>intuitivité...</h2>
    <p id ="presentation">SoftEat propose une solution informatique permettant la gestion d’un ou plusieurs restaurants.
        Elle permet d’aider la gestion du restaurant, de proposer une analyse en temps réel ainsi qu’une vision globale du restaurant en temps réel. 
        Cette solution informatique ne propose pas qu’une application, mais tout un accompagnement tel que la mise en place et l’installation d’un équipement informatique complet et gratuitement, d’une équipe présente a vos côtés et à l’écoute. </p>
        <button id ="buttonF">Fonctionnalités</button>
        <button id="buttonE">Espace Membres</button>
    </div>
    <!--<p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <br/><br/><br/><br/>
    </p>-->