<form [formGroup]="restaurant_section" (ngSubmit)="on_validate()">
    <div mat-dialog-content id="container" >
        <mat-form-field appearance="fill">
            <mat-label>Entrer le nom du restaurant</mat-label>
            <input matInput  formControlName="id" placeholder="Ex. foodandboost">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Ville</mat-label>
            <input matInput formControlName="city" placeholder="Ex. Saint-Étienne">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Entrer le code postal du restaurant</mat-label>
            <input matInput formControlName="postal_code" placeholder="Ex. 42000">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Numéro de rue</mat-label>
            <input matInput formControlName="street_number" placeholder="Ex. 42000">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Rue</mat-label>
            <input matInput formControlName="street" placeholder="Ex. 42000">
        </mat-form-field>
        <div>
            <div mat-dialog-actions id="actions">
                <button mat-raised-button (click)="on_no_click()" id="close">Fermer</button>
                <button type="submit" mat-raised-button  id="valider">Valider</button>
            </div>
        </div>
    </div>
</form>
