<div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Formal Suffix</th>
          <th>Postal Service Preferred</th>
          <th>Common Alternatives</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-xs-3">
            <input #addMain class="form-control" type="text" placeholder="Enter title" />
          </td>
          <td class="col-xs-3">
            <input #addPrefer class="form-control" type="text" placeholder="Enter title" />
          </td>
          <td class="col-xs-5">
            <input #addCommon class="form-control" type="text" placeholder="Enter title" />
          </td>
          <td class="col-xs-1 text-center">
            <button (click)="onClickAdd(addMain.value, addPrefer.value, addCommon.value)">
              <i class="fa fa-plus"></i>
            </button>
          </td>
        </tr>
        <tr *ngFor="let row of rows; let i=index">
          <td class="col-xs-3"><input [(ngModel)]="row.main" class="form-control editable" /></td>
          <td class="col-xs-3"><input [(ngModel)]="row.preferred" class="form-control editable" /></td>
          <td class="col-xs-5"><input [(ngModel)]="row.common" class="form-control editable" /></td>
          <td class="col-xs-1 text-center">
            <button (click)="deleteRow(i)">
                <i class="fa-regular fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-1 pull-right">
      <button class="btn btn-primary pull-right">Save</button>
    </div>
  </div>
  