<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'ajout d'un salaire moyen</title>
</head>

<body>
    <form [formGroup]="add_employee" (ngSubmit)="addEmployee()">
        <h1>Ajout d'un nouveau employé</h1>
        <p>prénom du nouveau employé</p>
        <mat-form-field class="example-full-width">
            <mat-label>prénom</mat-label>
            <input formControlName="name" matInput placeholder="Ex. adam">
            <mat-error *ngIf="add_employee.controls.name.hasError('name')">
                veuillez entrer un prénom valide
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>prénom</mat-label>
            <input formControlName="surname" matInput placeholder="Ex. akkouche">
            <mat-error *ngIf="add_employee.controls.surname.hasError('surname')">
                veuillez entrer un nom valide
            </mat-error>
        </mat-form-field>
        <p>email du nouveau employé</p>
        <mat-form-field class="example-full-width">
            <mat-label>email</mat-label>
            <input formControlName="mail" matInput placeholder="Ex. softeat.contact@gmail.com">
            <mat-error *ngIf="add_employee.controls.mail.hasError('email')">
                veuillez entrer une adresse mail valide 
            </mat-error>
        </mat-form-field>
        <p>mot de passe du nouveau employé</p>
        <mat-form-field class="example-full-width">
            <mat-label>mot de passe</mat-label>
            <input formControlName="mdp" matInput placeholder="Ex. test123">
            <mat-error *ngIf="add_employee.controls.mdp.hasError('required')">
                veuillez entrer un mot de passe de minimum 6 caractères
            </mat-error>
        </mat-form-field>
        <button mat-stroked-button type="submit"> Ajouter </button>
    </form>
</body>

</html>
