
<!-- <div id ="divPrix">
<h2 id ="titrePrix">Nos Tarifs</h2>
<p id ="sousTitrePrix">Toutes les fonctionnalités sont comprises !</p> -->


<!---->
<!-- <div id = "divCentrerPrix">
<div class="pricing3 py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 align-self-center">
          <div class="nav flex-column nav-pills" role="tablist">
           
            <a class="nav-link active" data-toggle="pill" href="#p3-2" role="tab" aria-expanded="true">
              <h2><small class = "subtitle">à partir de</small> 120 €<small>/m</small></h2>
              <h6 class="subtitle">Populaire</h6>
            </a>
            
          </div>
        </div>
        <div class="col-lg-10 col-md-9">
          <div class="tab-content">
            
            <div class="tab-pane fade active show" id="p3-2" role="tabpanel">
              <div class="row">
                commenté Column  
                <div class="col-lg-7">
                  <div class="pricing-box">
                    <h2 class="title mb-0" id = "marque">SoftEat</h2>
                    <h6 class="subtitle">Toutes les fonctionnalités</h6>
                    <ul class="list">
                      <li> <span>Prise de commande</span></li>
                      <li><span>Analyse du/des restaurant(s)</span></li>
                      <li> <span>Gestion RH</span></li>
                      <li> <span>Prévision</span></li>
                      <li> <span>Gestion du stock</span></li>
                      <li> <span>Comptabilité</span></li>
                      <li> <span>Installation gratuite de l'équipement</span></li>
                      <li> <span>Location gratuite de l'équipement</span></li>

                    </ul>
                    <div class="d-flex align-items-center">
                      commenter <span class="display-5 text-dark mr-3 vm font-weight-medium">120 €</span>
                      <a class="btn btn-danger-gradiant btn-md border-0 text-white rounded-pill" href="#f1"><span>Commencer</span></a>
                    </div>
                  </div>
                </div>
                commenté Column  
                <div class="col-lg-5 bg-image text-center align-items-end position-relative d-flex" id="divImage">
                  <div class="quote-box">
                    commenté <h3 class="text-dark font-weight-light mb-4">Mettre une petite image sympas</h3>
                    <h6 class="text-dark">Et mettre la description ici et en haut</h6>
                  </div>
                </div>
                 commenté Column  
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
</div> -->
<!--df-->







<!---->
    <!--df-->