<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Factures</h1>
    <header>
        <div id="all-buttons">
            <div class="group-buttons">
                <button *ngIf="!windows_screen_mobile" mat-stroked-button>
                    <i class="fa-solid fa-laptop-file"></i>
                    Scanner la facture
                </button>
                <button  mat-stroked-button (click)="sendFacture()">
                    <i class="fa-regular fa-circle-down"></i>
                    Archiver une facture
                </button>
            </div>
            <div class="group-buttons">
                <input class="hiddenInput" #imgInput type="file" accept=".jpg, .png" (change)="getImg($event)" ngModel>
                <input class="hiddenInput" #pdfInput type="file" accept=".pdf" (change)="getPdf($event)" ngModel>
                <button mat-stroked-button type="button" (click)="imgInput.click()">
                    <i class="fa-solid fa-file-import"></i>
                    Importer une image
                </button>
                <button mat-stroked-button type="button" (click)="pdfInput.click()">
                    <i class="fa-solid fa-file-import"></i>
                   Importer un pdf
                </button>
            </div>
        </div>
        <div id="select_area">
            <label>Quel est le contenu de la facture scannée ?</label>
            <mat-radio-group id="radio-group" aria-label="Select an option" (change)="radioChange($event)">
                <mat-radio-button name="chose-select" value="ing" [checked] ="true">Ingrédients</mat-radio-button>
                <mat-radio-button name="chose-select" value="conso">Autres</mat-radio-button>
            </mat-radio-group>  
        </div>
        <div id="slide-input">
            <label for="mat-slide">Voulez-vous extraire les produits de la facture ?</label>
            <mat-slide-toggle id="mat-slide" [labelPosition]="'before'" (change)="toggleExtract($event)"></mat-slide-toggle>
        </div>
    </header>
        <table  *ngIf="!windows_screen_mobile" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef> nom </th>
                <td mat-cell *matCellDef="let element">
                    <div [innerHTML]="element.nom"></div>
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="categorie_tva">
                <th mat-header-cell *matHeaderCellDef> catégorie <br> tva </th>
                <td mat-cell *matCellDef="let element">{{element.categorie_tva}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> quantitée</th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="quantity_unity">
                <th mat-header-cell *matHeaderCellDef> quantitée <br> unitaire</th>
                <td mat-cell *matCellDef="let element"> {{element.quantity_unity}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="unity">
                <th mat-header-cell *matHeaderCellDef> unitée</th>
                <td mat-cell *matCellDef="let element"> {{element.unity}} </td>
            </ng-container>


            <!-- Symbol Column -->
            <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef> cout <br> unitaire <br> HT </th>
                <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="cost_ttc">
                <th mat-header-cell *matHeaderCellDef> cout <br> unitaire <br> TTC </th>
                <td mat-cell *matCellDef="let element"> {{element.cost_ttc}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="date_reception">
                <th mat-header-cell *matHeaderCellDef> date <br> de <br> réception</th>
                <td mat-cell *matCellDef="let element"> {{element.date_reception}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="dlc">
                <th mat-header-cell *matHeaderCellDef> DLC</th>
                <td mat-cell *matCellDef="let element"> {{element.dlc}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> actions </th>
                <td id="validate" mat-cell *matCellDef="let element;let cell_index = index; ">
                  <i class="fa-regular fa-trash action_table" (click)="suppIng(element)"></i>
                  <i class="fa-regular fa-pen action_table" (click)="modifIng(element)"></i>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator  *ngIf="!windows_screen_mobile" [pageSizeOptions]="[6]"
            (page)="pageChanged($event)"
            [length]="ingredients_displayed_br.length"
            showFirstLastButtons
            aria-label="Selection page d'ingredients">
        </mat-paginator>
        <div *ngIf="windows_screen_mobile" #accordeon class="accordion" [ngStyle]="{'max-width.px': this.mobile_service.accordeonMaxWidth()}">
            <div class="accordion-item" *ngFor="let ingredient of ingredients_displayed_br; let i = index;">
              <h2 class="accordion-header" [id]="'heading_' + ingredient.nom.split(' ').join('_').split('\'').join('_')">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#collapse_' +  ingredient.nom.split(' ').join('_').split('\'').join('_')" [attr.aria-controls]="'collapse_' +  ingredient.nom.split(' ').join('_').split('\'').join('_')"
                  (click)="changeArrow(i)">
                  <div class="collapse-section">
                    <p>{{ingredient.nom.split(" ").join(" ").split('\'').join('_')}}</p>
                    <i [ngClass]="getVisible(i) ? 'fa-regular fa-angle-down' : 'fa-regular fa-angle-up'"></i>
                  </div>
                </button>
              </h2>
              <div [id]="'collapse_' + ingredient.nom.split(' ').join('_').split('\'').join('_')" class="accordion-collapse collapse"
                [attr.aria-labelledby]="'heading_' + ingredient.nom.split(' ').join('_').split('\'').join('_')" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div>
                    <mat-list role="list">
                        <mat-list-item role="listitem">Catégorie de tva : <br> {{ingredient.categorie_tva.split(" ").join(" ")}}</mat-list-item>
                        <mat-list-item role="listitem">Quantitée : <br> {{ingredient.quantity}}</mat-list-item>
                        <mat-list-item role="listitem">Quantitée unitaire : <br> {{ingredient.quantity_unity}}</mat-list-item>
                        <mat-list-item role="listitem">Unitée: <br> {{ingredient.unity}}</mat-list-item>
                        <mat-list-item role="listitem">Coût unitaire HT: <br> {{ingredient.cost}}</mat-list-item>
                        <mat-list-item role="listitem">Coût unitaire TTC: <br> {{ingredient.cost_ttc}}</mat-list-item>
                        <mat-list-item role="listitem">date de récéption: <br> {{ingredient.date_reception}}</mat-list-item>
                        <mat-list-item role="listitem">date limite de consommation: <br> {{ingredient.dlc}}</mat-list-item>
                    </mat-list>
                    <div id="modif-section">
                        <i class="fa-regular fa-trash action_table" (click)="suppIng(ingredient)"></i>
                        <i class="fa-regular fa-pen action_table" (click)="modifIng(ingredient)"></i>  
                    </div>                    
                  </div>
                </div>
              </div>
            </div>
        </div> 
        <div class="group-buttons">
            <button mat-stroked-button> <!-- (click)="addIngredients($event)">-->
                <i class="fa-solid fa-check"></i>
                Ajout dans l'inventaire
            </button>
            <button id = "cancel_button" (click)="revertModif($event)" mat-stroked-button>
                <i class="fa-solid fa-xmark"></i>
                Annuler les modifications
            </button>
        </div>
</body>
</html>
