<div class="cont">
    <div class="signup-form-container">
        <div class="form-container">
          <!-- Des vérifications permettent d'avoir un nom et un mot de passe
             suffisamment long, et un mail valide. Cela peut être retiré si besoin-->
          <form #signupForm="ngForm" (ngSubmit)="onFormSubmit(signupForm.value.email, signupForm.value.password, signupForm.value.name)" autocomplete="false" class="form">
            <h3 class="form-header">Inscription
            </h3>
            <div class="control">
              <label for="name">Nom</label>
              <input ngModel #name="ngModel" minlength="3" name="name" required id="name" type="text">
              <div class="form-error" *ngIf="name.touched && !name.valid">
                <div *ngIf="name.errors?.['required']">
                  Nom requis.
                </div>
                <div *ngIf="name.errors?.['minlength']">
                  Le nom doit faire au moins 3 caractères.
                </div>
              </div>
            </div>
            <div class="control">
              <label for="email">Email</label>
              <input ngModel #email="ngModel" email="true" name="email" required id="email" type="text">
              <div class="form-error" *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors?.['required']">
                  Email requis.
                </div>
                <div *ngIf="email.errors?.['email'] && !email.errors?.['required']">
                  Adresse email invalide.
                </div>
              </div>
            </div>
            <div class="control">
              <label for="password">Mot de passe</label>
              <input ngModel #password="ngModel" minlength="4" name="password" required autocomplete="new-password" id="password" type="password">
              <div class="form-error" *ngIf="password.touched && !password.valid">
                <div *ngIf="password.errors?.['required']">
                  Mot de passe requis.
                </div>
                <div *ngIf="password.errors?.['minlength']">
                  Le mot de passe doit faire au moins 4 caractères.
                </div>
              </div>
            </div>
            <div class="control">
              <button [disabled]="signupForm.invalid" class="btn" id="signup" type="submit">S'inscrire</button>
              <p>
              <span id="alter-way">
                <a (click) ="login()" type="submit">Vous avez déjà un compte ?</a>
              </span>
            </p>
            </div>
          </form>
        </div>
      </div>