

  #restaumatiqueT{
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;
    font-size: 38px;
  }
  li a:hover {
    font-weight: bold;
    
   
  }
  #souligneVert::after{
    content: '';
     display: block;
     height: 1px;
     background: rgb(11, 77, 11);
     transform: scale(0);
     transition: transform 0.1s ease-in-out;
  }
  #souligneVert:hover::after{
    transform: scale(1);
  }

  li a {
    font-family: 'Inter', sans-serif;

    cursor:pointer;

  }