<!--<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter&display=swap" rel="stylesheet"> -->


 
<nav class="navbar navbar-expand-lg  fixed-top"  id="navbar_top" >
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a id = "restaumatiqueT"class="navbar-brand">SoftEat</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" (click) = "clicHome()" id ="souligneVert">Accueil <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id ="souligneVert">Fonctionnalités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id ="souligneVert">Tarif</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id ="souligneVert">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id ="souligneVert">Nous contacter</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Language
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Français</a>
            <a class="dropdown-item" href="#">English</a>
          </div>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-success" (click)="clicConnexion()"type="submit">Connexion</button>
          <!--<a class="nav-link" (click)="clicConnexion()">Connexion</a>-->
        </li>
      </ul>
     
    </div>
  </div>
</nav>
<!--
----------------------------------------------------------------------------------------------------------------------

-->


