<!--Bien télécharger les fonts et ne pas utiliser de lien de préference-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fasthand&display=swap" rel="stylesheet"> 

<div id="banderole">Restaumatique</div>
<ul>
    
    <li><a href="#home">Accueil</a></li>
    <li><a href="#news">Fonctionnalités</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">A propos</a></li>
    <li><a href="">Connection</a></li>
  </ul>


