  #logo{
    height: 82px;
    width: 168px;
  }

  li a:hover {
    font-weight: bold;
    
   
  }
  #souligneVert::after{
    content: '';
     display: block;
     height: 2px;
     background: rgb(125, 181, 46);
     transform: scale(0);
     transition: transform 0.2s ease-in-out;
  }
  #souligneVert:hover::after{
    transform: scale(1);
  }
li {
  margin:3px;

}
  li a {
    font-family: 'Inter', sans-serif;

    cursor:pointer;

  }
  #navbar_top{
    background-color: rgb(255, 255, 255,0.8);margin-left: 7%;margin-top: 20px;
    width: max-content;
    
  }
  @media screen and (max-width: 600px) { 
    #navbar_top{
      background-color: white;
      width: max-content;
      margin-left: 0%;
    }
  }

  #deco{
    color: red;
    background-color: white;
    width: 300px;
    height: auto;
    font-size: larger;
    border-radius: 3px;
    border-color: red;
  }
  
  #deco:hover{
    color: white;
    background-color: red;
  }

  #entrer{
    color: rgb(125, 181, 46);
    background-color: white;
    width: 300px;
    height: auto;
    font-size: larger;
    border-radius: 3px;
    border-color: rgb(125, 181, 46, 0.5);
  }
  
  #entrer:hover{
    color: white;
    background-color: rgb(125, 181, 46);
  }