<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter&display=swap" rel="stylesheet"> 

  <nav id="navbar_top" class="navbar navbar-expand-lg navbar-light sticky-top " style ="background-color: rgb(255, 255, 255,0.6);margin-left: 20%;margin-top: 20px;">
    <a id = "restaumatiqueT"class="navbar-brand">SoftEat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="ContenuNavBar" class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" (click) = "clicHome()" id ="souligneVert">Accueil <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id ="souligneVert">Fonctionnalités</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id ="souligneVert">Tarif</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id ="souligneVert">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id ="souligneVert">Nous contacter</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Language
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Français</a>
            <a class="dropdown-item" href="#">English</a>
          </div>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-success" (click)="clicConnexion()"type="submit">Connexion</button>
          <!--<a class="nav-link" (click)="clicConnexion()">Connexion</a>-->
        </li>
      </ul>
    </div>
  </nav>


