h1 {
  width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: normal;
  text-align: center;
  color: rgb(125, 181, 46);
}

.navbar {
  width: 300px; /* Adjust the width as per your requirements */
  height: 400px; /* Adjust the height as per your requirements */
  overflow: auto;
}


/* Styles pour les boutons */
button {
  background-color: rgb(125, 181, 46);
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

/* Styles pour mettre des informations à droite et à gauche de la case */
.center-container {
  display: flex;
  justify-content: space-between;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

table {
  width: 300px;
}

tr {
  border: 3px solid black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #f9f9f9;
  padding: 10px; 
  font-size: 14px;
  font-weight: lighter;
}

li:nth-child(even) {
  background-color: #ececec;
}

/* Styles généraux de la checkbox */
input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: 2px solid rgb(125, 181, 46);
}

/* Style de la coche */
input[type="checkbox"]:checked::before {
  content: "\2713"; /* Code unicode pour le symbole de la coche */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(125, 181, 46);
  font-size: 14px;
}

/* Style au survol de la checkbox */
input[type="checkbox"]:hover {
  border-color: rgb(125, 181, 46);
}

/* Style lorsque la checkbox est cochée */
input[type="checkbox"]:checked {
  background-color: rgb(125, 181, 46);
}

/* Style du fond de la checkbox lorsque désactivée */
input[type="checkbox"]:disabled {
  background-color: rgba(125, 181, 46, 0.5);
  cursor: not-allowed;
}

.categ {
  font-size: 18px;
}