/* Styles pour les conteneurs de code */
.code-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  width: 300px;
  /* Ajout de la largeur de 300px au cadre */
}

/* Styles pour la liste des catégories */
ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

li {
  margin-bottom: 10px;
}

/* Styles pour les boutons */
button {
  background-color: rgb(125, 181, 46);
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

/* Styles pour les listes déroulantes */
ul[ngSwitch] {
  list-style-type: none;
  margin-left: 20px;
}

/* Styles pour les éléments de liste */
li[ngSwitchCase] {
  margin-bottom: 5px;
}

/* Styles pour le texte à l'intérieur des éléments de liste */
li span {
  font-weight: lighter;
}

/* Styles pour les éléments sélectionnés */
span[ngFor] {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}