body {
    display: flex;
    flex-direction: column;
}
.section {
    margin-top: 20px;
}
p{
    padding-top: 16px;
    margin-left: 10px;
}
.indication{
    color: rgb(125, 181, 46);
}

h2 {
    font-size: larger;
    color: rgb(125, 181, 46);
    margin-bottom: 35px;
}

.mat-grid-tile-content{
    justify-content: flex-start;
}

table{
    min-width: auto;
}
.name{
    min-width: 150px;
}
.comm-cells{
    min-width: 150px;
}
.other-cells{
    min-width: 70px;
}