<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil information softeat</title>
</head>
<body>
    <div class="mat-container">
        <h1>Nous contacter</h1>
        <div mat-dialog-content>
            <h2>Email</h2>
            <p>softeat.contact@gmail.com</p>
            <h2>Numéro de téléphone</h2>
            <p>0665129077</p>
        </div>  
        <button class="btn" id="fermer" (click)="closePopup()">Fermer</button>
    </div>
</body>
</html>
