<app-navbar-vitrine (numPanel)="numeroPanel = $event" ></app-navbar-vitrine>

<app-connection *ngIf="numeroPanel == 1"></app-connection>
<app-home *ngIf="numeroPanel == 2"></app-home>
<app-home id = "scrollspyHeading1"></app-home>
<!--_____________________________________________________________________________________________________________________-->
<div><!--fonctionnalites-->



<app-fonctionnalite></app-fonctionnalite>
<app-prix></app-prix>

</div>

<!--_____________________________________________________________________________________________________________________-->
<!--<p>{{numeroPanel}}</p>-->