<app-navbar-vitrine (numPanel)="numeroPanel = $event" ></app-navbar-vitrine>

<app-connection *ngIf="numeroPanel == 1"></app-connection>
<app-home *ngIf="numeroPanel == 2"></app-home>
<app-home></app-home>
<!--_____________________________________________________________________________________________________________________-->

<div><!--Accueil-->


</div>


<!--_____________________________________________________________________________________________________________________-->
<!--<p>{{numeroPanel}}</p>-->