body{
    width: auto;
    display: flex;
    flex-direction: column;
}

h1{
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: normal;
    color: rgb(125, 181, 46);
}
#return-button{
    margin-left: 15%;
    background-color: white;
    color: rgb(125, 181, 46);
}
#return-button:hover{
    background-color: rgb(125, 181, 46);
    color: white
}
#header-folders{
    display: flex;
    justify-content: space-between;
}
app-folders{
    position: absolute;
    top: 20%;
    left: 20%;
}
app-files{
    position: absolute;
    top: 20%;
    left: 20%;
}


