<div class="inputs-containers-close" id="close-section">
    <button (click)="closePopup($event)" class="close-fab" mat-mini-fab type="button" id="close_popup" color="white" matTooltip="fermer la fenêtre"
    aria-label="close popup">
    <i class="fa-regular fa-xmark"></i>
    </button>
</div>
<form [formGroup]="modif_clients_section" (ngSubmit)="changeClient()">
    <p class="title">Modifier les information sur le client</p>
    <div class="section_fileds">
        <div class="container-content"> 
            <div class="full-container"> 
                <p>Prénom</p>
                <p>Nom</p>
                <p>Email</p>
                <p>Numéro</p>
                <p>Adress</p>
                <p>Notif. gaspillage</p>
                <p>Notif. promotions</p>
                <p>Nombre de commandes</p>
            </div>
            <div class="full-container"> 
                <mat-form-field class="classic-field"  appearance="fill">
                    <mat-label>Entrer le prénom du client</mat-label>
                    <input matInput formControlName="name" placeholder="Ex. test">
                </mat-form-field>
                <mat-form-field class="classic-field" appearance="fill">
                    <mat-label>Entrer le nom du client</mat-label>
                    <input matInput formControlName="surname" placeholder="Ex. dupont">
                </mat-form-field>
                <mat-form-field class="classic-field" appearance="fill">
                    <mat-label>Entrer l'email du client</mat-label>
                    <input matInput  formControlName="email" placeholder="test.dupont@gtes.com">
                </mat-form-field>
                <mat-form-field class="classic-field" appearance="fill">
                    <mat-label>Entrer le numéro du client</mat-label>
                    <input matInput formControlName="number" placeholder="0677777777777">
                </mat-form-field>
                <mat-form-field class="classic-field" appearance="fill">
                    <mat-label>Entrer l'adresse du client</mat-label>
                    <input matInput formControlName="adress" placeholder="2 Rue Des Endives, Paris">
                </mat-form-field>
                <mat-radio-group id="gasp" formControlName="waste_alert"  aria-label="Select an option">
                    <mat-radio-button value="oui">Oui</mat-radio-button>
                    <mat-radio-button value="non">Non</mat-radio-button>
                </mat-radio-group> 
                <mat-radio-group formControlName="promotion"  aria-label="Select an option">
                    <mat-radio-button value="oui">Oui</mat-radio-button>
                    <mat-radio-button value="non">Non</mat-radio-button>
                </mat-radio-group>  
                <mat-form-field class="classic-field" appearance="fill">
                    <mat-label>Entrer le nombre de commande faite par ce client</mat-label>
                    <input matInput type="number" formControlName="order_number" placeholder="7">
                </mat-form-field>
            </div>
        </div>
    </div>
    <button mat-stroked-button id="add" type="submit"> Modifier </button>
</form>

