<div class="inputs-containers">
    <button (click)="closePopup($event)" mat-mini-fab type="button" id="close_popup" color="white" matTooltip="fermer la fenêtre"
    aria-label="close popup">
    <i class="fa-regular fa-xmark"></i>
    </button>
</div>
<form [formGroup]="add_cons_section" (ngSubmit)="changeConsommable()">
    <div class="section">
        <p>Entrer le nom du nouveau ingrédient : </p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer le nom du nouveau consommable</mat-label>
            <input matInput formControlName="name" placeholder="Ex. aluminium">
        </mat-form-field>
    </div>
    <div class="section">
        <p>Entrer le taux de tva : </p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer la taux de TVA </mat-label>
            <input (change)="setPrixTTC($event)" type="number" matInput formControlName="taux_tva">
        </mat-form-field>
    </div>
    <div class="section">
        <p> Entrer la quantitée et unitée du consommable : </p>
        <mat-form-field appearance="fill">
            <mat-label>Entrer la quantitée du consommable </mat-label>
            <input type="number" matInput formControlName="quantity">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Entrer l'unitée </mat-label>
            <mat-select formControlName="unity">
                <mat-option value="kg"> kg (kilogramme) </mat-option>
                <mat-option value="mètre"> m (mètre) </mat-option>
                <mat-option value="p"> p (pièce) </mat-option>
                <mat-option value="L"> L (litre)</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="section">
        <p>Entrer le coût HT : </p>
        <mat-form-field appearance="fill">
            <mat-label>coût</mat-label>
            <input type="number"  (change)="setPrixTTCfHT($event)" matInput formControlName="cost">
        </mat-form-field>
    </div>
    <div class="section">
        <p>Entrer le coût TTC : </p>
        <mat-form-field appearance="fill">
            <mat-label>coût</mat-label>
            <input type="number"  matInput formControlName="cost_ttc" value="{{cost_ttc_val}}">
        </mat-form-field>
    </div>
    <div class="section">
        <p>Entrer la marge (par défaut zéro): </p>
        <mat-form-field appearance="fill">
            <mat-label>marge</mat-label>
            <input type="number" matInput formControlName="marge">
        </mat-form-field>
    </div>
    <button mat-stroked-button type="submit"> Ajouter </button>
</form>