<div class="messagerie">
  <div class="message">
    <div class="message__outer">
      <div class="message__inner">
        <div class="message__bubble" dir="auto">
          <div class="message_infos">
            <div class="name">
              <p>~Matthieu d'Hoop</p>
            </div>
            <div class="time_sent">
              <p>{{ date | date: 'd MMMM, HH:mm'}}</p>
            </div>
          </div>
          <div class="message_content">
            <p>{{ text }}</p>
          </div>
        </div>
        <div class="message__spacer"></div>
      </div>
      <div class="message__status"></div>
    </div>
  </div>
</div>