/* header et body commun à de nombreusent applications */ 
body {
    background: rgb(245, 245, 245);
    height: 100vh;
    width: auto;
  }
  
  header {
    background-color: white;
    height: 68px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
  }

  ul{
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;
  }

  #boutonDeconnexion {
    height: 40px;
  }
  
  #bouttonAcceuil{
    height: 40px;
    min-width: 96px;
    margin: 0;
  }

 
  img{
    width: 168px;
    height: 82px;
  }
  /* Fin du header*/

 .accordion-item {
    margin-top: 1%;
 }

 .accordion-button{
    color: rgb(30, 148, 30);
    display:block;
    text-align: center;
 }

 /*édition du tableau */
.mat-row {
  height: auto;
}

.mat-cell {
  padding: 10px 15px 8px 0;
}

/* tableau formulaire*/
#form_right{
  cursor: pointer;
  height: 100%;
  width: 100%;
  padding: 0;
}

#validate{
    text-align: center;
    justify-content:center;
}

.accordion-body{
  display: flex;
  justify-content: center;
}
