
p{
    display: inline;
}

#last{
    display: block;
}

.mat-stroked-button{
    color: rgb(125, 181, 46);
    background-color: white;
    height: 40px;
    min-width: 96px;
    margin: 0;
}

.mat-stroked-button:hover{
    background-color: rgb(125, 181, 46);
    color: white;
}

.section {
    display: flex;
    justify-content: space-between;
}

mat-form-field{
    margin-left: 20px;
}

#selectSection{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
}
mat-radio-button{
  margin-right: 5px;
}