
header{
    background: linear-gradient(to bottom right, yellow 50%, white 50%) 0 0/10px 100% no-repeat, linear-gradient(to bottom left, yellow 60%, white 50%) 100% 0/10px 100% no-repeat;
    background-size: 100% 100%;
}
main{
    margin-right: 4%;
}
h2{
    text-align: center;
    font-size: 40px;
    font-weight: normal;
    font-family: 'Inter';
    text-decoration: underline;
    margin-top: 50px;
    color: #4F4F4F;
}
#cardGeneral{
    width: 40rem;height: 400px; background-color: rgb(248, 248, 248); border-color: rgb(125, 181, 46);
    
}
.card-title{
    color: rgb(125, 181, 46);
    font-size: 32px;
}

.card-link{
   color: rgb(125, 181, 46);
}
/*Gestion du footer */
footer{
    margin-top: 200px;
}
#divMobile{
   margin-left: 4%;
}


@media screen and (max-width: 350px) { 
    #cardGeneral{
        width: auto;
        height: 1400px;
    }
}
@media screen and (min-width: 350px)  and (max-width: 398px) { 
    #cardGeneral{
        width: auto;
        height: 1000px;
    }
}
@media screen and (min-width: 398px) and (max-width: 424px) { 
    #cardGeneral{
        width: auto;
        height: 800px;
    }
}
@media screen and (min-width: 424px) and (max-width: 464px) { 
    #cardGeneral{
        width: auto;
        height: 700px;
    }
}
@media screen and (min-width: 464px) and (max-width: 620px) { 
    #cardGeneral{
        width: auto;
        height: 600px;
    }
}
@media screen and (min-width: 620) and (max-width: 652px) { 
    #cardGeneral{
        width: auto;
        height: 500px;
    }
}
@media screen and (min-width: 652) and (max-width: 730px) { 
    #divMobile{
        top:1100px; height:540px;
    }
    #cardGeneral{
        margin-left: 20%;
        width: auto;
        height: 400px;
    }
}
@media screen and (max-width: 800px) { 
    p{
        margin-left: 60px;
        margin-right: 60px;
    }
}