
<!---->
<style type="text/css">
    
 
      </style>
    
<div id ="divMobile">
<h2 id="Fmobile">Nos Fonctionnalités</h2>

<div style ="top:50px; font-weight: 76px; color: #101A24;" id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="true"  c>
    <div id="petitBoutonCote"class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">


        <div class="card mx-auto " id ="cardGeneral"
         >
            <div class="card-body" >
              <h5 class="card-title" style = "color:rgb(8, 100, 8);font-size: 32px;">Gestion des Commandes</h5>
              <h6 class="card-subtitle mb-2 text-muted" style="font-size: 26px;">Prise des Commandes</h6>
              <p class="card-text" style = "font-size: 20px;">Mise en place d'une installation permettant
                la prise de commandes des serveurs.
                Les commandes pris par les serveurs via une application
                mobile installer sur une tablette ou sur téléphone sont
                envoyées et affichées directement à la cuisine.
                Les serveurs seront prévenus via l'application lorsqu'un
                ingrédient sera en rupture ainsi permettant a ne pas 
                proposer les plats qui contienne cette ingrédient/ou de
                proposer une alternative.</p>
              <a href="#" style = "color:rgb(8, 100, 8)" class="card-link">détails</a>
            </div>
          </div>
          
                </div>
      <div class="carousel-item">


        <div class="card mx-auto" id ="cardGeneral">
            <div class="card-body">
              <h5 class="card-title" style = "color:rgb(8, 100, 8);font-size: 32px;">Gestion des Ressources Humaines</h5>
              <h6 class="card-subtitle mb-2 text-muted" style = "font-size: 26px;">Planning et Communication</h6>
              <p class="card-text" style = "font-size: 20px;">Une interface sera mis a disposition exclusivement
                pour ceux qui ont le droit de faire les plannings des cuisiniers
                et des serveurs.
                Cette interface permet entre autre de faires le planning des
                employés et de leur envoyées directement par mail.
                Une installation de badgeuse est a prévoir.
                Un système d'alerte serait aussi mise a disposition pour favoriser l'efficacité
                des informations entre chef de cuisine, propriétaire, gérant, cuisiniers et serveur</p>
              <a href="#" style = "color:rgb(8, 100, 8)" class="card-link">détails</a>
            </div>
          </div>
          
                </div>
      <div class="carousel-item" >
                

        <div class="card mx-auto" id ="cardGeneral">
            <div class="card-body">
            <h5 class="card-title" style = "color:rgb(8, 100, 8); font-size: 32px;">Analyse des Restaurants en temps réel</h5>
            <h6 class="card-subtitle mb-2 text-muted" style = "font-size: 26px;">Analyse via SoftEat.com</h6>
            <p class="card-text" style ="font-size: 20px;">
                Une analyse des restaurants sera aussi possible.
                A chaque commandes pris le propriétaire ainsi que le gérant du restaurant
                pourront le voir directement sur SoftEat.com, il pourront aussi avoir
                accés a une multitude d'analyse sous forme de graphique complétement flexible
                et pourront avoir ainsi une bonne vision des restaurants.
                Les gérants/propriétaires des restaurants pourront aussi fixé des objectifs
                à atteindre.
            </p>
            <a style = "color:rgb(8, 100, 8)" href="#" class="card-link">détails</a>
            </div>
        </div>
  
  
    </div>
    </div>
    <button style = "color:rgb(8, 100, 8)" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  </div>

 