#divMobile{

    position:relative;
top:800px; height:540px;
}
#Fmobile{
    position:relative;margin-left:35%;font-family: 'Inter';font-size: 64px;color:#101A24
}
#cardGeneral{
    width: 40rem;height: 400px; background-color: rgb(248, 248, 248); border-color: rgb(8, 100, 8);
    
}/*
#petitBoutonCote{
    top:430px;
}*/
@media screen and (max-width: 600px) { 
    #divMobile{
        top:1100px; height:540px;
    }
    #Fmobile{
        font-size: 38px;
        margin-left: 10%;
    }
    #cardGeneral{
        margin-left: 20%;
        width: auto;
        height: auto;
    }
    
    /*#petitBoutonCote{
        top:600px;
    }*/
}