<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1> Fichier d'expertise comptable </h1>
    </header>
    <main>
        <app-fectable *ngIf="!windows_screen_mobile" [prop]="prop" [accounts]="accounts"  [row_fec]="this.row_fec" [records]="this.records" [columns]="this.displayedColumns"></app-fectable>
        <app-fecmobile *ngIf="windows_screen_mobile" [prop]="prop" [accounts]="accounts" [row_fec]="this.row_fec" [records]="this.records" [columns]="this.displayedColumns"></app-fecmobile>
    </main>
</body>
</html>